/*============================================================
    "CoreGUI" theme programmatic settings
============================================================*/
/*RHQ Overrides*/

body {
    /*  line-height: 1.66667;*/
    font-size: 12px;
    color: #4D5258;
}

td {
    font-size: 12px;
}

hr {
    background-color: #C9C9C9;
    color: #C9C9C9;
    border: 0;
    height: 1px;
}

/*bz1116784*/
input[name="fileUploadItem"] {
    height: 27px !important;
    width: 450px !important;
}

:focus {
    outline: 0px !important; /* removing the dotted outline globally */
}

.scrollbar {
    border: 1px solid #eaeaea;
    background-color: #fff;
}

.scrollbar:hover {
    border-color: #d4d4d4;
}

.graphDateTimeRangeLabel {
    font-size: 12px;
}

.subtitle {
    font-weight: bolder;
}

.subtitle::before {
    content: "( ";
}

.subtitle::after {
    content: " )";
}

.portalLayout {
    margin: 5px 5px;
}

.resourceSummary .HeaderLabel,
.resourceSummary .subtitle {
    margin-bottom: 5px;
}

.groupLabel img, .HeaderLabel img {
    width: 24px;
    height: 24px;
}

.groupLabel, .HeaderLabel, .SectionHeader {
    font-size: 24px;
    color: #4D5258;
    font-weight: 300;
    margin-left: 0;
    padding-left: 0;
}

.groupLabel {
    background-color: transparent !important;
}

a, a:link, a:visited {
    text-decoration: none !important;
}

.overflowVisible {
    overflow: visible !important;
}

.searchBar input {
  background: url("/coregui/images/search/glass.png") no-repeat scroll right center rgba(0, 0, 0, 0);
}

.tableRowCount {
  height:30px;
  font-size:11px;
}

.tableFilter {
    background-color: #f0f0f0;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #d1d1d1;
    min-height:24px;
    padding:5px;
}

.splitbar table {
    position: relative;
    left: -2px;
}

.spinner {
    animation: 0.6s linear 0s normal none infinite rotation;
    border-color: rgba(0, 0, 0, 0.75) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25);
    border-radius: 100%;
    border-style: solid;
    border-width: 0px;
    margin: 0;
    visibility: hidden;
}

/*.subtabbar * {
    font-size: 12px;
}*/

.subtabbar {
    border-bottom: 1px solid rgb(201, 201, 201);
    padding: 5px 0 0 21px;
    margin-bottom: 20px !important;
}

/*============================================================
General
============================================================*/

.storageNodeOk {
    color: #26aa26;
}

.storageNodeWarn {
    color: #ed9b26;
}

.storageNodeProblem {
    font-weight: 700;
    color: #d64949;
}

.storageConfig {
    font-size: 12px !important;
    font-weight: 400 !important;
}

.storageConfig div:first-child {
    font-weight: bold !important;
}

.propertiesForm { /*bz1116774*/
    border-bottom: 1px solid #C9C9C9;
}



.pageBackground {
    font-size: 11px;
    color: #4D5258;
    background: #FAFAFA;
}

.defaultBorder {
    border: 1px solid #A7ABB4;
}

/* hover canvas*/
.canvasHover,
.gridHover,
.formHover {
    font-size: 11px;
    color: white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #595959;
    border: 2px solid #999;
    padding: 5px;
    opacity: 0.9;
}

.footer {
    padding: 5px 5px 12px 1px !important;
}

/*============================================================
Button (also used as MenuButton base style)
============================================================*/

.button,
.buttonOver,
.buttonDown,
.buttonDisabled,
.buttonSelected,
.buttonSelectedDown,
.buttonSelectedOver,
.buttonSelectedDisabled {
    margin: 0px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    line-height: 1.5;
    padding: 2px 6px;
    border-radius: 1px;
    background-color: #eeeeee;
    background-image: -webkit-linear-gradient(top, #fafafa 0%, #ededed 100%);
    background-image: linear-gradient(to bottom, #fafafa 0%, #ededed 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffededed', GradientType=0);
    color: #4d5258;
    border: 1px solid #b7b7b7;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.buttonOver {
    color: #4d5258;
    background-color: #dadada;
    border-color: #989898;
    text-decoration: none;
    padding: 2px 6px;
}

.buttonDown {
    background: #cccccc; /* Old browsers */
    background: -moz-linear-gradient(top, #cccccc 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cccccc), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #cccccc 0%, #ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #cccccc 0%, #ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #cccccc 0%, #ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom, #cccccc 0%, #ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#ffffff', GradientType=0); /* IE6-9 */
}

.buttonSelected,
.buttonSelectedDown,
.buttonSelectedOver,
.buttonSelectedDisabled {
    border-color: #999;
    background: #ddd;
    background-image: -moz-linear-gradient(top, #cccccc, #ffffff);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#ffffff));
}

.buttonSelectedOver {
    border-color: #548ACA;
    background: #ddd;
    background-image: -moz-linear-gradient(top, #cccccc, #ffffff);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#ffffff));
}

.buttonDisabled {
    background-color: #f8f8f8 !important;
    background-image: none !important;
    border-color: #d1d1d1 !important;
    color: #969696 !important;
    opacity: 1;
    box-shadow: none;
}

/* FF only */
@-moz-document url-prefix() {
    div[eventproxy^="menuButton"] > table > tbody > tr > .buttonOver,
    div[eventproxy^="menuButton"] > table > tbody > tr > .buttonSelectedOver,
    div[eventproxy^="menuButton"] > table > tbody > tr > .buttonDown,
    div[eventproxy^="menuButton"] > table > tbody > tr > .button:hover,
    div[eventproxy^="menuButton"] > table > tbody > tr > .button:focus,
    div[eventproxy^="menuButton"] > table > tbody > tr > .button:active {
        color: #4d5258;
        border-color: #989898;
        text-decoration: none;
        padding: 2px 6px 2px 1px;
    }
}

div[eventproxy^="destructive"] > table > tbody > tr > .button,
div[eventproxy^="destructive"] > table > tbody > tr > .buttonSelected {
    background-color: #84050c;
    background-image: -webkit-linear-gradient(top, #d60915 0, #ac0710 100%);
    background-image: linear-gradient(to bottom, #d60915 0, #ac0710 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd60915', endColorstr='#ffac0710', GradientType=0);
    border-color: #450e0e;
    color: #fff;
}

div[eventproxy^="destructive"] > table > tbody > tr > .buttonOver,
div[eventproxy^="destructive"] > table > tbody > tr > .buttonSelectedOver,
div[eventproxy^="destructive"] > table > tbody > tr > .buttonDown,
div[eventproxy^="destructive"] > table > tbody > tr > .button:hover,
div[eventproxy^="destructive"] > table > tbody > tr > .button:focus,
div[eventproxy^="destructive"] > table > tbody > tr > .button:active {
    color: #ffffff;
    background-image: -webkit-linear-gradient(top, #d60915 0, #ac0710 100%);
    background-image: linear-gradient(to bottom, #d60915 0, #ac0710 100%);
    background-color: #ab070f;
    border-color: #781919;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2) inset;
}

div[eventproxy^="primary"] > table > tbody > tr > .button,
div[eventproxy^="primary"] > table > tbody > tr > .buttonSelected {
    background-color: #189ad1;
    background-image: -webkit-linear-gradient(top, #1cace8 0, #1998cc 100%);
    background-image: linear-gradient(to bottom, #1cace8 0, #1998cc 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1cace8', endColorstr='#ff1998cc', GradientType=0);
    border-color: #267da1;
    color: #fff;
}

div[eventproxy^="primary"] > table > tbody > tr > .buttonOver,
div[eventproxy^="primary"] > table > tbody > tr > .buttonSelectedOver,
div[eventproxy^="primary"] > table > tbody > tr > .buttonDown,
div[eventproxy^="primary"] > table > tbody > tr > .button:hover,
div[eventproxy^="primary"] > table > tbody > tr > .button:focus,
div[eventproxy^="primary"] > table > tbody > tr > .button:active {
    background-image: -webkit-linear-gradient(top, #1cace8 0, #1998cc 100%);
    background-image: linear-gradient(to bottom, #1cace8 0, #1998cc 100%);
    color: #fff;
    background-color: #147fac;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2) inset;
    border-color: #1a576f;
}

.btn-primaryDisabled {
    background-color: #189ad1 !important;
    border-color: #267da1 !important;
}

.configurationEditorHeaderCell {
    border: 1px solid rgb(209, 209, 209) !important;
}

.configurationEditorHeaderCell,
.headerButton,
.headerButtonOver,
.headerButtonDown,
.headerButtonDisabled,
.headerButtonSelected,
.headerButtonSelectedDown,
.headerButtonSelectedOver,
.headerButtonSelectedDisabled {
    background-color: #f0f0f0;
    border-color: rgb(209, 209, 209);
    border-top-color: transparent;
    border-style: solid;
    padding: 2px 2px 2px 5px;
    font-weight: 600;
    border-width: 2px 1px 1px 0;
}

.headerButton,
.headerButtonOver {
    background-color: #f0f0f0 !important;
}

.headerButton img,
.headerButtonOver img,
.headerButtonDown img,
.headerButtonDisabled img,
.headerButtonSelected img,
.headerButtonSelectedDown img,
.headerButtonSelectedOver img,
.headerButtonSelectedDisabled img {
    margin-left: 2px;
    margin-top: 6px;
}

.headerButton, .headerButtonOver {
    background-image: -webkit-linear-gradient(top, #fafafa 0%, #ededed 100%);
    background-image: linear-gradient(to bottom, #fafafa 0%, #ededed 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffededed', GradientType=0);
}

.headerButtonDown {
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-right: 1px solid #808080;
    border-bottom: 1px solid #808080;
    background: #63b3da;
    color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.1, #0099d3), color-stop(0.55, #0099d3), color-stop(0.77, #63b3da));
    background-image: -moz-linear-gradient(center bottom, #0099d3 10%, #0099d3 55%, #63b3da 77%);
}

.headerButtonDisabled {
    color: #666666;
    background: #C3C3C3;
}

.headerButtonSelected,
.headerButtonSelectedDown,
.headerButtonSelectedOver,
.headerButtonSelectedDisabled {
    color: #0099d3 !important;
    border-top: 2px solid rgb(0, 153, 211);
    background-color: #f9f9f9;
    background-image: -webkit-linear-gradient(top, #fafafa 0%, #ededed 100%);
    background-image: linear-gradient(to bottom, #fafafa 0%, #ededed 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffededed', GradientType=0);
}

.headerButtonSelectedDisabled {
    font-size: 11px;
    color: #666666;
}

/*============================================================
  Menus
============================================================*/

.menuTable {
    min-width: 160px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px 6px 12px 0px;
    list-style: none;
    font-size: 12px;
    background-color: #fff;
    border: 1px solid #b6b6b6;
    border-radius: 1px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.menuTable hr {
    margin: 0px
}

/* transparent background for menu -> bottom shadow is transparent */
div[eventproxy$="_body"][eventproxy^="isc_Menu_"].normal {
    background-color: transparent !important;
}

.menu,
.menuDark,
.menuSelected,
.menuSelectedDark,
.menuOver,
.menuOverDark,
.menuSelectedOver,
.menuSelectedOverDark,
.menuDisabled,
.treeMenuSelected,
.treeMenuSelectedOver {
    border-color: transparent;
    border-style: solid;
    border-width: 1px 0;
    text-align: left;
    vertical-align: middle;
    height: auto !important;
}

.menuItem {
    padding: 1px 10px;

}

.button img {
    padding-left: 5px;
}

.menuOver,
.menuOverDark,
.menuSelectedOver,
.menuSelectedOverDark {
    text-decoration: none;
    color: #4d5258;
    background-color: #dfedfa;
    border-color: #B3D3E7;
    border-style: solid;
    border-width: 1px 0px;
}

.treeMenuSelected {
    background-color: #d4edfa;
    border-top: 1px solid #dfedfa;
    border-bottom: 1px solid #dfedfa;
}

.treeMenuSelectedOver {
    color: white;
    background-color: #0A246A;
    border-top: 1px solid #0A246A;
    border-bottom: 1px solid #0A246A;
}

.menuDisabled {
    color: #979797;
    background-color: white;
}

.windowBackground,
.dialogBackground {
    background-color: #fff !important;
    border: 1px solid #ddd;
    border-radius: 1px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.275);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.275);
 
}

div[eventproxy*="PortalColumn"] > .windowBackground,
div[eventproxy*="PortalColumn"] > .dialogBackground {
   -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, .15);
    box-shadow: 0 0px 0px rgba(0, 0, 0, .15);
}

.windowBody,
.dialogBody,
.promptBody {
    left: 0px;
    top: 38px !important;
    margin-bottom: 5px;
    background-color: #fff !important;
}

.windowHeader,
.windowHeaderHilite,
.dialogHeader,
.dialogHeaderHilite {
    color: #4D5258;
    background-color: #f0f0f0;
    margin-right: -4px;
    margin-right: -4px;
    z-index: 9202034 !important;
    vertical-align: middle;
    height: 35px !important;
    top: 0px !important;
    left: 0px !important;
    border-bottom: 1px solid #ddd;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.windowHeader *,
.windowHeaderHilite *,
.dialogHeader *,
.dialogHeaderHilite * {
    position: relative;
    top: 4%;
}

.windowHeaderHilite,
.dialogHeaderHilite {
}

.windowHeaderText,
.dialogHeaderText,
.dialogStatusBarText {
    font-size: 13px;
    font-weight: 600;
    padding-left: 2px;
}

.windowStatusBar,
.dialogStatusBar {
    font-size: 11px;
    color: black;
    border-top: 1px solid #999999;
    border-left: 1px solid #999999;
    border-right: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

.modalMask {
    background-color: #000;
    opacity: 0.5 !important;
}

/*============================================================
  Layout
============================================================*/

.layoutDropLine {
    background-color: #aaa !important;
}

.layoutPlaceHolder {
    border: 1px solid #aaa !important;
}

.splitbar {
    background-color: transparent;
}

.splitbarDown {
    border: 1px solid #C0C0C0;
    background-color: #FFFFFF;
}

/*============================================================
  TabSet and tab titles
============================================================*/

.tabSetContainer {
    background-color: #FFFFFF;
    border-width: 1px 0;
    border-color: #dddddd transparent #dddddd transparent;
    border-style: solid;
    padding-top: 5px;
}

.tabBarTop {
    padding-top: 2px;
}

.tab,
.tabOver,
.tabSelected,
.tabSelectedOver,
.tabDown,
.tabSelectedDown,
.tabSelectedDisabled,
.tabDisabled {
    font-size: 11px;
}

.tabSelectedDisabled,
.tabDisabled {
    color: #666666;
}

.tabTitle,
.tabTitleDown,
.tabTitleOver,
.tabTitleDisabled,
.tabTitleSelected,
.tabTitleSelectedDown,
.tabTitleSelectedOver,
.tabTitleSelectedDisabled,
.vtabTitle,
.vtabTitleSelected,
.vtabTitleOver,
.vtabTitleDown,
.vtabTitleSelectedOver,
.vtabTitleSelectedDown,
.vtabTitleDisabled,
.vtabTitleSelectedDisabled {
    color: #29333c;
    font-size: 11px;
    padding-bottom: 4px;
}

.tabTitleOver,
.vtabTitleOver {
    color: #29333c;
}

.tabTitleSelected,
.vtabTitleSelected {
    color: #FFF;
    padding-bottom: 4px;
}

.tabTitleSelectedOver,
.vtabTitleSelectedOver {
    color: #353f46;
    padding-bottom: 4px;
}

.tabTitleDisabled,
.tabTitleSelectedDisabled,
.vtabTitleDisabled,
.vtabTitleSelectedDisabled {
    color: #AAAAAA;
    padding-bottom: 2px;
}

.SubTabButtonOver,
.SubTabButtonFocused,
.SubTabButton:active,
.SubTabButton:hover {
    border-color: #c9c8c8;
    color: #222;
}

.SubTabButtonDown,
.SubTabButtonSelectedDisabled,
.SubTabButtonSelected,
.SubTabButtonDisabled,
.SubTabButton {
    font-size: 12px;
    border-style: solid;
    border-width: 0 0 4px 0;
    border-color: transparent;
    color: #4d5258;
    padding: 3px 0px 5px 0px;
}

.SubTabButtonDown,
.SubTabButtonSelected {
    color: #0099d3;
    border-color: #0099d3;
}

/*============================================================
  SectionStack
============================================================*/

.sectionStack {

    border: 1px solid rgb(208, 208, 208);
    border-top: 0px solid transparent;
    background: none rgb(250, 250, 250);
}

/* SectionStack headers - css based */
.sectionHeaderopened,
.sectionHeaderclosed,
.sectionHeaderDisabledopened,
.sectionHeaderDisabledclosed {
    /*PatternFly*/
    background-image: linear-gradient(to bottom, #fafafa 0%, #ededed 100%);
    background-repeat: repeat-x;
    color: #4d5258;
    font-weight: 600;
    border-width: 1px 0 1px 0px;
    border-style: solid;
    border-color: rgb(207, 207, 207);
    font-size: 13px;
    padding-left: 3px;

}

.sectionHeaderopened,
.sectionHeaderDisabledopened {
}

.sectionHeaderDisabledopened,
.sectionHeaderDisabledclosed {
    color: #c8c8c8;
}

/*============================================================
  Forms
============================================================*/

.formCell select {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.formCell select:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.EvenRow,
.EvenRowDisabled,
.EvenRowFocused {
    background-color: #f0f0f0;
}

.formTitle,
.formTitleFocused,
.formTitleDisabled,
.formCellError,
.formTitleError,
.formHint,
.headerItem,
.headerItemDisabled,
.headerItemError,
.staticTextItem,
.staticTextItemDisabled,
.staticTextItemError,
.textItem,
.textItemFocused,
.textItemDisabled,
.textItemError,
.textItemHint,
.selectItemControl,
.selectItemControlError,
.selectItemControlFocused,
.selectItemText,
.selectItemTextError,
.selectItemTextDisabled,
.selectItemTextFocused,
.selectItemTextHint,
.comboBoxItem,
.comboBoxItemFocused,
.comboBoxItemError,
.comboBoxItemDisabled,
.comboBoxItemPendingText,
.pickListCell,
.pickListCellSelected,
.pickListCellDisabled,
.pickListCellDark,
.pickListCellSelectedDark,
.tallPickListCell,
.tallPickListCellSelected,
.tallPickListCellDisabled,
.tallPickListCellDark,
.tallPickListCellSelectedDark,
.labelAnchor,
.labelAnchorDisabled,
.labelAnchorError,
.labelAnchorFocused {
    color: #4d5258;
    vertical-align: middle;
}

.textItem,
.textItemFocused,
.textItemDisabled,
.textItemError,
.textItemHint {
    background-color: #FAFAFA;
}

.formTitle,
.formTitleFocused {
    color: #4D5258;
}

.formCellError,
.formTitleError {
    font-weight: bold;
    color: #204268;
}

.formHint {
    color: #455668;
    padding: 3px;
}

/* headerItem */
.headerItem,
.headerItemDisabled,
.headerItemError {
    font-size: 14px;
    font-weight: bold;
    color: #4D5258;
}

/* text items */
.textItem,
.textItemFocused,
.textItemDisabled,
.textItemError,
.textItemHint,
.selectItemText,
.selectItemTextError,
.selectItemTextFocused,
.selectItemTextDisabled,
.selectItemTextHint,
.comboBoxItemPendingText {
    border: 1px solid #bbb;
}

.textItemDisabled {
    color: #ACA899;
}

.textItemHint {
    color: #666666;
}

/*.textItem {}*/

.comboBoxItemPendingText {
    color: #0066CC;
}

.textItemError,
.staticTextItemError {
    border-color: #A94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.textItemError:focus,
.staticTextItemError:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #CE8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #CE8483;
}



.textItemFocused,
.selectItemTextFocused {
    border-color: #66afe9 !important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
}


.selectItemText,
.selectItemTextError,
.selectItemTextFocused,
.selectItemTextDisabled,
.selectItemPickerIcon,
.selectItemPickerIconFocused,
.selectItemPickerIconDisabled,
.selectItemPickerIconError {
    margin: 0;
    font-weight: 600;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    line-height: 1.66666667;
    border-radius: 1px;

    background-color: #fff;
    background-image: -webkit-linear-gradient(top, #fafafa 0%, #ededed 100%);
    background-image: linear-gradient(to bottom, #fafafa 0%, #ededed 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffededed', GradientType=0);
    color: #4d5258;
    border: 1px solid #b7b7b7;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.selectItemPickerIcon,
.selectItemPickerIconFocused,
.selectItemPickerIconDisabled,
.selectItemPickerIconError {
    border-left: 0px;
}

.pickListMenuBody {
    padding: 5px 0;
    margin: 3px 0;
    background-color: #ffffff;
    border: 1px solid #b6b6b6;
    border-radius: 1px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.pickListCellSelectedOver,
.pickListCellSelectedOverDark,
.pickListCellOver,
.pickListCellOverDark,
.pickListCell,
.pickListCellDark,
.tallPickListCell,
.tallPickListCellDark,
.pickListCellSelected,
.pickListCellSelectedDark,
.tallPickListCellSelected,
.tallPickListCellSelectedDark {
    border-color: transparent;
    border-style: solid;
    border-width: 1px 0;
    overflow: visible;
    cursor:pointer;
}

/*
.pickListCellSelected,
.pickListCellSelectedDark,
.tallPickListCellSelected,
.tallPickListCellSelectedDark {
   border-color: #b3d3e7;
    background-color: #dfedfa;
}

.pickListCellDisabled,
.tallPickListCellDisabled {
}*/

/* checkbox and radioButton */
.labelAnchor,
.labelAnchorDisabled,
.labelAnchorError,
.labelAnchoFocused {
    text-decoration: none;
}

/* FilterBuilder */
.bracketBorders {
    border-left: 1px solid #808080;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
}

/* ColorChooser */
.colorChooserCell {
    background-color: #EFEFEF;
    border-left: 1px solid #EFEFEF;
    border-top: 1px solid #EFEFEF;
    border-right: 1px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
}

.colorChooserCellOver {
    background-color: #EFEFEF;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

/*============================================================
     DateChooser
============================================================*/

/* Defaults for all days and controls */
.dateChooserButton,
.dateChooserButtonOver,
.dateChooserButtonDown,
.dateChooserButtonDisabled,
.dateChooserButtonSelected,
.dateChooserButtonSelectedDown,
.dateChooserButtonSelectedOver,
.dateChooserButtonSelectedDisabled,
.dateChooserWeekendButton,
.dateChooserWeekendButtonOver,
.dateChooserWeekendButtonDown,
.dateChooserWeekendButtonDisabled,
.dateChooserWeekendButtonSelected,
.dateChooserWeekendButtonSelectedDown,
.dateChooserWeekendButtonSelectedOver,
.dateChooserWeekendButtonSelectedDisabled,
.dateChooserBottomButton,
.dateChooserBottomButtonOver,
.dateChooserBottomButtonDown,
.dateChooserBottomButtonSelected,
.dateChooserBottomButtonSelectedOver,
.dateChooserBottomButtonSelectedDown,
.dateChooserNavButton,
.dateChooserNavButtonOver,
.dateChooserNavButtonDown,
.dateChooserNavButtonSelected,
.dateChooserNavButtonSelectedOver,
.dateChooserNavButtonSelectedDown,
.dateChooserWeekday,
.dateChooserWeekdayOver,
.dateChooserWeekdayDown,
.dateChooserWeekdaySelected,
.dateChooserWeekdaySelectedOver,
.dateChooserWeekdaySelectedDown,
.dateChooserWeekdayDisabled,
.dateChooserWeekend,
.dateChooserWeekendOver,
.dateChooserWeekendDown,
.dateChooserWeekendSelected,
.dateChooserWeekendSelectedOver,
.dateChooserWeekendSelectedDown,
.dateChooserWeekendSelectedDisabled,
.dateChooserWeekendDisabled {
    font-size: 11px;
    background-color: #FFFFFF;
    color: #868686;
}

/* year/month buttons */
.dateChooserNavButton,
.dateChooserNavButtonOver,
.dateChooserNavButtonDown,
.dateChooserNavButtonSelected,
.dateChooserNavButtonSelectedOver,
.dateChooserNavButtonSelectedDown {
    padding: 0px;
    border-top: 0px none;
    border-bottom: 1px solid #868686;
}

/* for all buttons, plus weekday headers (dateChooserButton) */
.dateChooserButton,
.dateChooserButtonOver,
.dateChooserButtonDown,
.dateChooserButtonSelected,
.dateChooserButtonSelectedOver,
.dateChooserButtonSelectedDown,
.dateChooserWeekendButton,
.dateChooserWeekendButtonOver,
.dateChooserWeekendButtonDown,
.dateChooserWeekendButtonSelected,
.dateChooserWeekendButtonSelectedOver,
.dateChooserWeekendButtonSelectedDown,
.dateChooserNavButton,
.dateChooserNavButtonOver,
.dateChooserNavButtonDown,
.dateChooserNavButtonSelected,
.dateChooserNavButtonSelectedOver,
.dateChooserNavButtonSelectedDown {
    font-weight: bold;
    color: #4C4C4C;
}

.dateChooserButtonOver,
.dateChooserButtonDown {
    cursor: pointer;
    color: #467DCD;
}

.dateChooserWeekendButton,
.dateChooserWeekendButtonOver,
.dateChooserWeekendButtonDown,
.dateChooserWeekendButtonSelected,
.dateChooserWeekendButtonSelectedOver,
.dateChooserWeekendButtonSelectedDown {
    background-color: #d4edfa;
}

.dateChooserNavButton,
.dateChooserNavButtonOver,
.dateChooserNavButtonDown,
.dateChooserNavButtonSelected,
.dateChooserNavButtonSelectedOver,
.dateChooserNavButtonSelectedDown {
    cursor: pointer;
    padding: 2px;
}

.dateChooserNavButtonOver,
.dateChooserNavButtonDown {
    color: #467DCD;
}

/* Today, Cancel buttons */
.dateChooserBottomButton,
.dateChooserBottomButtonOver,
.dateChooserBottomButtonDown {
    cursor: pointer;
    font-weight: bold;
    color: #4C4C4C;
    border-left: 1px solid #ACB1B9;
    border-top: 1px solid #ACB1B9;
}

.dateChooserBottomButtonOver {
    color: #467DCD;
}

/* weekday and weekend cells */
.dateChooserWeekday,
.dateChooserWeekdayOver,
.dateChooserWeekdayDown,
.dateChooserWeekdaySelected,
.dateChooserWeekdaySelectedOver,
.dateChooserWeekdaySelectedDown,
.dateChooserWeekdayDisabled,
.dateChooserWeekend,
.dateChooserWeekendOver,
.dateChooserWeekendDown,
.dateChooserWeekendSelected,
.dateChooserWeekendSelectedOver,
.dateChooserWeekendSelectedDown,
.dateChooserWeekendDisabled {
    cursor: pointer;
    color: black;
    border: 2px solid white;
    background-color: white;
}

.dateChooserWeekdayDisabled,
.dateChooserWeekendDisabled {
    color: #C0C3CA;
}

.dateChooserWeekend,
.dateChooserWeekendOver,
.dateChooserWeekendSelected,
.dateChooserWeekendSelectedDisabled,
.dateChooserWeekendDisabled {
    border: 2px solid #d4edfa;
    background-color: #d4edfa;
}

.dateChooserWeekdayOver,
.dateChooserWeekendOver {
    border: 2px solid #dfedfa;
}

.dateChooserWeekdaySelected,
.dateChooserWeekdaySelectedOver,
.dateChooserWeekdayDown,
.dateChooserWeekdaySelectedDown,
.dateChooserWeekendSelected,
.dateChooserWeekendSelectedDisabled,
.dateChooserWeekendSelectedOver,
.dateChooserWeekendDown,
.dateChooserWeekendSelectedDown {
    font-weight: bold;
    color: #fff;
    border: 2px solid #0099d3;
    background-color: #0099d3;
}

.dateChooserWeekdayDown,
.dateChooserWeekendDown {
    font-weight: normal;
}

/* year and month pop-up menus */
.dateChooserYearMenu,
.dateChooserMonthMenu {
    background-color: #FFFFFF;
}

/* the border around the date widget was missing */
div[eventproxy^="isc_DateChooser"] {
    border: 1px solid #ddd;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.175);
}

/*============================================================
  Slider & Rangebar
============================================================*/

/* slider and rangebar labels */
.sliderTitle,
.sliderRange,
.sliderValue,
.rangebarTitle,
.rangebarRange,
.rangebarValue {
    font-size: 10px;
}

.sliderTitle,
.rangebarTitle {
    font-weight: bold;
}

.sliderRange,
.rangebarRange {
    color: gray;
}

/*============================================================
  DetailViewer
============================================================*/
.detailBlock {
    border-left: 1px solid gray;
    border-top: 1px solid gray;
}

.detail,
.detailLabel,
.detailHeader {
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}

.detail,
.detailLabel,
.detailHeader {
    font-size: 11px;
    background-color: white;
}

.detailLabel {
    font-weight: bold;
    background-color: #EEEEEE;
    text-align: right;
}

.detailHeader {
    font-size: 14px;
    font-weight: bold;
    background-color: #BBDAFA;
}

/*============================================================
  ListGrid
============================================================*/

/*============================================================
	ListGrid parts
		styleName - listGrid
		headerBarStyle - headerBar
		bodyStyleName - gridBody
============================================================*/

.listGrid {
    background: none rgb(250, 250, 250);
    border: 1px solid rgb(208, 208, 208);

}

.listGrid > div > div[eventproxy*="Toolbar"] {
    background: #fff !important;
}

.dragLine {
    border-bottom: 2px dotted #548ACA;
}

.tableImage {
    width: 16px;
    height: 16px;
}

/* for filterEditor */
.recordEditorCell {

    font-size: 11px;
    color: black;
    background-color: #f4f4f4;
}

/*============================================================
	ListGrid cells
		listGrid.baseStyle
============================================================*/

/*------------------------------------------------------------
		listGrid.baseStyle
------------------------------------------------------------*/
.cell,
.cellDark,
.cellOver,
.cellOverDark,
.cellSelected,
.cellSelectedDark,
.cellSelectedOver,
.cellSelectedOverDark,
.cellDisabled,
.cellDisabledDark,
.tallCell,
.tallCellDark,
.tallCellOver,
.tallCellOverDark,
.tallCellSelected,
.tallCellSelectedDark,
.tallCellSelectedOver,
.tallCellSelectedOverDark,
.tallCellDisabled,
.tallCellDisabledDark,
.groupSummaryCell,
.groupSummaryCellDisabled,
.gridSummaryCell,
.gridSummaryCellDisabled,
.recordSummaryCell,
.recordSummaryCellDark,
.recordSummaryCellOver,
.recordSummaryCellOverDark,
.recordSummaryCellSelected,
.recordSummaryCellSelectedDark,
.recordSummaryCellSelectedOver,
.recordSummaryCellSelectedOverDark,
.recordSummaryCellDisabled,
.recordSummaryCellDisabledDark,
.expansionCellCell,
.expansionCellCellDark,
.expansionCellCellOver,
.expansionCellCellOverDark,
.expansionCellCellSelected,
.expansionCellCellSelectedDark,
.expansionCellCellSelectedOver,
.expansionCellCellSelectedOverDark,
.expansionCellCellDisabled,
.expansionCellCellDisabledDark,
.specialCol,
.specialColOver,
.specialColSelected,
.specialColSelectedOver,
.specialColDisabled,
.groupNode {
    text-overflow: ellipsis;
    border-bottom: 1px solid;
    border-bottom-color: #e2e2e2;
}

.specialCol {
    text-overflow: ellipsis;
    color: black;
    background-color: #f7f7f7;
}

.cellDark,
.recordSummaryCell,
.recordSummaryCellDark {
    background-color: #f7f7f7;
}

.groupSummaryCell,
.groupSummaryCellDisabled,
.gridSummaryCell,
.gridSummaryCellDisabled {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    background-color: #ececec;
}

.gridSummaryCell,
.gridSummaryCellDisabled {
    border-top-width: 0px;
    border-bottom-width: 0px;
}

.summaryRowBody {
    background-color: #ececec;
}

.tallCellDark {
    background-color: #f7f7f7;
}

.cellOver,
.cellOverDark,
.specialColOver,
.recordSummaryCellOver,
.recordSummaryCellOverDark {
    background-color: #d4edfa;
}

.tallCellOver,
.tallCellOverDark {
    background-color: #d4edfa !important;
}

.cellSelected,
.cellSelectedDark,
.specialColSelected,
.recordSummaryCellSelected,
.recordSummaryCellSelectedDark {
    background: #dfedfa;
}

.tallCellSelectedOver,
.tallCellSelectedOverDark,
.tallCellSelected,
.tallCellSelectedDark {
    background: none repeat scroll 0 0 #63b3da !important;
    color: #111;
}

.metricsTableView .tallCellOverDark,
.metricsTableView .tallCellSelectedDark,
.metricsTableView .tallCellSelectedOverDark,
.metricsTableView .tallCellOver,
.metricsTableView .tallCellSelectedOver,
.metricsTableView .tallCellSelected {
    background-color: #fbfbfb !important;
    color: #4D5258;
}

.tallCellSelected a,
.tallCellSelectedOver a,
.tallCellSelectedOverDark a,
.tallCellSelectedDark a {
    color: #fff !important;
}

.cellSelectedOver,
.cellSelectedOverDark,
.specialColSelectedOver,
.recordSummaryCellSelectedOver,
.recordSummaryCellSelectedOverDark {
    background: #d4edfa;
}

.groupSummaryCell,
.groupSummaryCellDisabled,
.gridSummaryCell,
.gridSummaryCellDisabled {
    font-weight: bold;
}

.cellDisabled,
.cellDisabledDark,
.specialColDisabled,
.tallCellDisabled,
.tallCellDisabledDark,
.groupSummaryCellDisabled,
.gridSummaryCellDisabled,
.specialColDisabled,
.recordSummaryCellDisabled,
.recordSummaryCellDisabledDark {
    color: #AAAAAA;
    background-color: #FFFFFF;
}

.groupNode {
    font-weight: bold;
    color: #3764a3;
    border-bottom: 1px solid #8299b8;
}

/*Tree styling*/
/*------------------------------------------------------------
		treeGrid.baseStyle
------------------------------------------------------------*/
.treeCell,
.treeCellDark,
.treeCellOver,
.treeCellOverDark,
.treeCellSelected,
.treeCellSelectedDark,
.treeCellSelectedOver,
.treeCellSelectedOverDark,
.treeCellDisabled,
.treeCellDisabledDark,
.treeTallCell,
.treeTallCellDark,
.treeTallCellOver,
.treeTallCellOverDark,
.treeTallCellSelected,
.treeTallCellSelectedDark,
.treeTallCellSelectedOver,
.treeTallCellSelectedOverDark,
.treeTallCellDisabled,
.treeTallCellDisabledDark {
    text-overflow: ellipsis;
    color: #4D5258 ;
    background-color: rgb(250, 250, 250);
    border-width: 1px 0 1px 0;
    border-color: transparent;
    border-style: solid;
}

.treeCellDark,
.treeTallCellDark {
    background-color: #f7f7f7;
}

.pickListCellSelectedOverDark,
.pickListCellSelectedOver,
.pickListCellDarkOver,
.pickListCellOver,
.treeCellOver,
.treeCellOverDark,
.treeTallCellOver,
.treeTallCellOverDark,
.treeCell:hover,
.treeTallCell:hover {
    background-color: #d4edfa !important;
    border-color: #1cace9;

}

.treeTallCellOver,
.treeTallCellOverDark {
    background-color: #dfedfa;
}

.treeCellSelected,
.treeCellSelectedDark {
    background: none repeat scroll 0 0 #0099d3 !important;
    border-color: #0076b7 !important;
    color: #fff;
}

.treeCellSelectedOver,
.treeCellSelectedOverDark {
    background: none repeat scroll 0 0 #0099d3 !important;
    border-color: #0076b7 !important;
    color: #fff;
}

.treeTallCellSelected,
.treeTallCellSelectedDark {
    background: none repeat scroll 0 0 #0099d3 !important;
    border-color: #0076b7 !important;
    color: #fff;
}

.treeTallCellSelectedOver,
.treeTallCellSelectedOverDark {
    background: none repeat scroll 0 0 #0099d3 !important;
    border-color: #0076b7 !important;
    color: #fff;

}

.treeCellDisabled,
.treeCellDisabledDark,
.treeTallCellDisabled,
.treeTallCellDisabledDark {
    color: #AAAAAA;
    background-color: #FFFFFF;
}

/* Field builders (Formula/Summary) */
.sampleOutput {
    border: 2px solid #D9D9D9;
    padding: 3px;
}

/* Multi-sort - sort-index appearing next to sort-arrows in field headers */
.sortNumeral {
    font-size: 7px;
}
/*
.toolStrip {
    margin-bottom: 5px !important;
}*/

/*============================================================
  Tools
============================================================*/
.resizeThumb {
    background-color: #009999;
}

/*============================================================
	15) Scrollbars
============================================================*/
.vScrollThumb {
    border: 1px solid #D9D9D9;
    background: #fafafa;
}

.vScrollThumbOver {
    background: #eaeaea; /* Old browsers */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaeaea), color-stop(100%, #f8f8f8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #eaeaea 0%, #f8f8f8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #eaeaea 0%, #f8f8f8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #eaeaea 0%, #f8f8f8 100%); /* IE10+ */
    background: linear-gradient(to bottom, #eaeaea 0%, #f8f8f8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaeaea', endColorstr='#f8f8f8', GradientType=0); /* IE6-9 */
    border: 1px solid #cccccc;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: inset 1px -1px 0 0 rgba(255, 255, 255, 0.2), inset 0 1px 0 1px #ededed;
    -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;
    box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    margin-bottom: 1px;
}

.hScrollThumb {
    border: 1px solid #D9D9D9;
    background: #fafafa;
}

.hScrollThumbOver {
    text-shadow: 0 1px 0 rgb(240, 240, 240);
    border-color: #b2b2b2;
    border-color: rgba(0, 0, 0, 0.3);
    border-width: 1px;
    border-style: solid;
    color: #4D5258;
    background-color: #f0f0f0;
    background-image: linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
    background-image: -webkit-linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
    background-image: -moz-linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
    background-image: -o-linear-gradient(#f0f0f0, #f0f0f0 38%, #e0e0e0);
    box-shadow: 0 1px 0 #f0f0f0, inset 0 1px 2px #f0f0f0;
    -webkit-box-shadow: 0 1px 0 #f0f0f0, inset 0 1px 2px #f0f0f0;
    -moz-box-shadow: 0 1px 0 #f0f0f0, inset 0 1px 2px #f0f0f0;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

/*============================================================
    TabSet CSS tabs
		tabSet.simpleTabBaseStyle
============================================================*/
/* styles for simple css-styled tabs*/
/* left */
.tabButtonLeft,
.tabButtonLeftOver,
.tabButtonLeftSelected,
.tabButtonLeftSelectedOver,
.tabButtonLeftDown,
.tabButtonLeftSelectedDown,
.tabButtonLeftSelectedDisabled,
.tabButtonLeftDisabled {
    padding: 2px;
    border: 1px solid #C0C3C7;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    overflow: visible;
}

/* right */
.tabButtonRight,
.tabButtonRightOver,
.tabButtonRightSelected,
.tabButtonRightSelectedOver,
.tabButtonRightDown,
.tabButtonRightSelectedDown,
.tabButtonRightSelectedDisabled,
.tabButtonRightDisabled {
    padding: 2px;
    border: 1px solid #C0C3C7;
    background: #e7e7e7;
    background-image: -moz-linear-gradient(top, #ffffff, #efefef);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#efefef));
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -x-system-font: none;
    font-size: 11px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    overflow: visible;
}

.tabButtonRightOver,
.tabButtonRightSelected,
.tabButtonRightSelectedOver {
    background: #ffffff;
}

.tabButtonRightDown,
.tabButtonRightSelectedDown {
    background: #ddd;
}

.tabButtonRightSelectedDisabled,
.tabButtonRightDisabled {
    background: #ddd;
}

/* top */
.tabButtonTop,
.tabButtonTopOver,
.tabButtonTopSelected,
.tabButtonTopSelectedOver,
.tabButtonTopDown,
.tabButtonTopSelectedDown,
.tabButtonTopSelectedDisabled,
.tabButtonTopDisabled {
    font-size: 14px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    padding: 5px 15px;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    overflow: visible;
}

.resourceSummary {
    padding: 5px;
}

.resourceSummary img {
    margin-top: 5px;
}

.groupDetail,
.resourceDetail,
.resourcesearchlist {
    padding: 0 10px 5px 0px;
}

.resourceSummaryDetails {
    margin-bottom: 17px;
}

.tagDialog, .tagDialog .dialogBody {
    background-color: #fff !important;
    border: none;
}

.tagDialog input {
    font-size: 10px;
    height: 17px !important;
    background-image: none;
    background-color: #fff;
}

.dashboardTabs .tabButtonTop img,
.dashboardTabs .tabButtonTopOver img,
.dashboardTabs .tabButtonTopSelected img,
.dashboardTabs .tabButtonTopSelectedOver img,
.dashboardTabs .tabButtonTopDown img,
.dashboardTabs .tabButtonTopSelectedDown img,
.dashboardTabs .tabButtonTopSelectedDisabled img,
.dashboardTabs .tabButtonTopDisabled img {
    display: block;
}

.tabButtonTop img,
.tabButtonTopOver img,
.tabButtonTopSelected img,
.tabButtonTopSelectedOver img,
.tabButtonTopDown img,
.tabButtonTopSelectedDown img,
.tabButtonTopSelectedDisabled img,
.tabButtonTopDisabled img {
    display: none;
    width: 7px;
    height: 7px;
}

.tabButtonTopOver,
.tabButtonTopSelected,
.tabButtonTopSelectedOver {
    border-color: #e9e8e8 #e9e8e8 #fff #e9e8e8;
}

.tabButtonTopSelected {
    border-color: #dddddd #dddddd #fff #dddddd;
    color: #0099d3;
}

.tabButtonTopDown,
.tabButtonTopSelectedDown {
    border-color: #e9e8e8 #e9e8e8 #fff #e9e8e8;
}

.tabButtonTopSelectedDisabled,
.tabButtonTopDisabled {
    color: rgb(128, 128, 128);
}
