<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

   <!-- ============================== -->
   <!-- Append messages to the console -->
   <!-- ============================== -->

   <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
      <param name="Threshold" value="DEBUG"/>
      <param name="Target" value="System.out"/>

      <layout class="org.apache.log4j.PatternLayout">
         <!-- The default pattern: Date Priority [Category] Message\n -->
         <param name="ConversionPattern" value="%d{ISO8601} %-5p [%t] (%c{5}) - %m%n"/>
      </layout>
   </appender>

   <!-- ================================= -->
   <!-- Append messages to a rolling file -->
   <!-- ================================= -->
   <appender name="FILE" class="org.apache.log4j.RollingFileAppender">

      <param name="Threshold"      value="DEBUG"/>
      <param name="File"           value="logs/agent.log"/>
      <param name="MaxBackupIndex" value="2"/>
      <param name="MaxFileSize"    value="5000KB"/>
      <param name="Append"         value="true"/>

      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d{ISO8601} %-5p [%t] (%c{5})- %m%n"/>
      </layout>

   </appender>

   <!-- ====================================== -->
   <!-- Append command trace to a rolling file -->
   <!-- ====================================== -->
   <appender name="COMMANDTRACE" class="org.apache.log4j.RollingFileAppender">

      <param name="Threshold"      value="TRACE"/>
      <param name="File"           value="logs/command-trace.log"/>
      <param name="MaxBackupIndex" value="9"/>
      <param name="MaxFileSize"    value="10MB"/>
      <param name="Append"         value="true"/>

      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d{ISO8601} %-5p %m%n"/>
      </layout>

   </appender>

   <!-- ================ -->
   <!-- Limit categories -->
   <!-- ================ -->

   <!-- RHQ -->
   <category name="org.rhq">
      <priority value="INFO"/>
   </category>

   <!-- RHQ outgoing command tracing  - set to TRACE to trace commands sent by the agent -->
   <category name="org.rhq.enterprise.communications.command.client.OutgoingCommandTrace">
      <priority value="NONE"/>
      <appender-ref ref="COMMANDTRACE"/>
   </category>

   <!-- RHQ incoming command tracing  - set to TRACE to trace commands coming in from the Server -->
   <category name="org.rhq.enterprise.communications.command.server.IncomingCommandTrace">
      <priority value="NONE"/>
      <appender-ref ref="COMMANDTRACE"/>
   </category>

   <!-- Trace classloading in the agent and plugin container by setting these to TRACE. -->
   <!-- Setting these to TRACE requires the appender's Threshold to be set to TRACE too. -->
   <!--
   <category name="org.rhq.core.pc.plugin.RootPluginClassLoader">
      <priority value="TRACE"/>
   </category>
   <category name="org.rhq.core.pc.plugin.PluginClassLoader">
      <priority value="TRACE"/>
   </category>
   -->

   <!-- JBoss/Remoting - for low level communications layer tracing -->
   <!-- Setting this to TRACE requires the appender's Threshold to be set to TRACE too. -->
   <!--
   <category name="org.jboss.remoting">
      <priority value="TRACE"/>
   </category>
   -->

   <!-- EMS connection factory can be noisy with its INFO messages - comment the below to see them. -->
   <category name="org.mc4j.ems.connection.ConnectionFactory">
      <priority value="WARN"/>
   </category>

   <!-- EMS can be noisy with its WARN messages - uncomment the below to suppress them. -->
   <!--
   <category name="org.mc4j.ems">
      <priority value="ERROR"/>
   </category>
   -->

   <!-- Warning: HTTP Client is very noisy in debug mode -->
   <category name="org.apache.http">
     <priority value="ERROR"/>
   </category>

   <category name="org.apache.http.wire">
     <priority value="ERROR"/>
   </category>

   <category name="org.apache.http.headers">
     <priority value="ERROR"/>
   </category>

   <!-- ======================= -->
   <!-- Setup the Root category -->
   <!-- ======================= -->

   <root>
      <priority value="INFO"/>
      <appender-ref ref="FILE"/>
      <!-- <appender-ref ref="CONSOLE"/> -->
   </root>

</log4j:configuration>
