/***
 * CSS for the d3 SVG charts. This is SVG css not HTML css so some elements
 * may look different from standard CSS.
 * NOTE: the SVG <defs> section that contains gradients etc. is in the
 * java class : /org/rhq/coregui/client/inventory/common/ResourceMetricD3Graph.java
 *
 */

svg {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* Trying to get SVG to act like a greedy block in all browsers */
    display: block;
    width:100%;
    height:100%;
}



.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

/* Horizontal gridlines */

.grid .tick {
    stroke: #f7f7f7;
}

.y.axis  .tick.minor {
    stroke: #a7a7ac;
}

.x.axis  .tick.minor {
    stroke: #a7a7ac;
}

.y.axis  text, .x.axis text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    fill: #50505a;
    text-rendering: optimize-legibility;

}

.x.axis path {
    stroke: #50505a;
}

.y.axis path {
    stroke: #50505a;
}
 /* Brush related css rules */
.brush rect.extent {
    fill: #0757ff;
    fill-opacity: .15;
    shape-rendering: crispEdges;
}

.brush .resize path {
    fill: #666;
    fill-opacity: .8;
    stroke: #000;
    stroke-width: 1.5px;
}

.minLabel, .avgLabel, .highLabel {
    font-family: Arial, Verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-anchor: start;
    fill: #003168;
    text-rendering: optimize-legibility;
}

.minText, .avgText, .highText {
    font-family: Arial, Verdana, sans-serif;
    font-size: 12px;
    text-anchor: start;
    fill: #003168;
    text-rendering: optimize-legibility;
}

.chartTitleName {
    font-family: Arial, Verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
    fill: #003168;
}
.chartTitleBox {
    fill:none;

}

rect.high {
    fill: #1794bc;
}

rect.low {
    fill: #70c4e2;
}



/* CSS for new Chart Hovers*/

#availTooltip {
    z-index: 990000;
    position: absolute;
    width: 150px;
    height: auto;
    padding: 5px;
    background-color: #000;
    opacity: 0.8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#availTooltip.hidden {
    display: none;
}

#availTooltip div {
    margin: 0;
    font-family:  Arial, Verdana, sans-serif;
    font-size: 9px;
    color: #d3d3d6;
}

.availTooltipLabel {
    width: 40px;
    font-weight: bold;
    color: #d3d3d6;
}

/* CSS for metric graph tooltips */
#metricGraphTooltip {
    z-index: 990000;
    position: absolute;
    width: 100px;
    height: auto;
    padding: 5px;
    background-color: #000;
    opacity: 0.80;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#metricGraphTooltip.hidden {
    display: none;
}

#metricGraphTooltip div {
    margin: 0;
    font-family:  Arial, Verdana, sans-serif;
    font-size: 10px;
    color: #d3d3d6;
}

#metricGraphTooltipLabel {
    width: 40px;
    font-weight: bold;
    color: #d3d3d6;
}

#metricGraphTooltipMaxLabel {
    color: #1794BC;
}

#metricGraphTooltipAvgLabel {
    color: #2e376a;
}

#metricGraphTooltipMinLabel {
    color: #70c4e2;
}

#noDataTooltip {
    z-index: 990000;
    position: absolute;
    width: 100px;
    height: auto;
    padding: 5px;
    background-color: #000;
    opacity: 0.80;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#noDataTooltip.hidden {
    display: none;
}

#noDataTooltip div {
    margin: 0;
    font-family:  Arial, Verdana, sans-serif;
    font-size: 10px;
    color: #d3d3d6;
}


#singleValueTooltip {
    z-index: 990000;
    position: absolute;
    width: 100px;
    height: auto;
    padding: 5px;
    background-color: #000;
    opacity: 0.80;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#singleValueTooltip.hidden {
    display: none;
}

#singleValueTooltip div {
    margin: 0;
    font-family:  Arial, Verdana, sans-serif;
    font-size: 10px;
    color: #d3d3d6;
}

