/***
 * CSS for the d3 SVG charts. This is SVG css not HTML css so some elements
 * may look different from standard CSS.
 * NOTE: the SVG <defs> section that contains gradients etc. is in the
 * java class : /org/rhq/enterprise/gui/coregui/client/inventory/common/AbstractMetricD3GraphView.java
 *
 */

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

/* Horizontal gridlines */

.grid .tick {
    stroke: #f7f7f7;
}

.y.axis  .tick.minor {
    stroke: #a7a7ac;
}

.x.axis  .tick.minor {
    stroke: #a7a7ac;
}

.y.axis  text, .x.axis text {
    font-family: 'Liberation Sans', Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    stroke: #50505a;
    text-rendering: optimize-legibility;

}

.x.axis path {
    stroke: #50505a;
}

.y.axis path {
    stroke: #50505a;
}

.minLabel, .avgLabel, .highLabel {
    font-family: Arial, Verdana, sans-serif;
    font-size: 12px;
    text-anchor: start;
    stroke: #003168;
    fill: #003168;
    text-rendering: optimize-legibility;
}

.minText, .avgText, .highText {
    font-family: Arial, Verdana, sans-serif;
    font-size: 12px;
    text-anchor: start;
    stroke: #003168;
    fill: #003168;
    text-rendering: optimize-legibility;
}

.titleName {
    font-family: Arial, Verdana, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

rect.high {
    fill: #1794bc;
}

rect.low {
    fill: #70c4e2;
}

/**
 * CSS for html chart hovers.
 */
.chartHoverEnclosingDiv {
    text-align: left;
    z-index: 990000;
}

.chartHoverAlignLeft {
    text-align: left;
}

.chartHoverAlignRight {
    text-align: right;
}

.chartHoverDivider {
    width: 100%;
    text-align: center;
    border: #d3d3d3 solid thin;
}

.chartHoverLabelSpan {
    width: 100%;
    font-weight: bold;
    color: #d3d3d6;
}

.chartHoverTimeLabel {
    width: 50px;
    font-weight: bold;
    color: #d3d3d6;
}

.chartHoverDateLabel {
    width: 50px;
    font-weight: bold;
    color: #d3d3d6;
}

#chartHoverDownValue {
    width: 100%;
    font-weight: bold;
    color: #ff8a9a;
}

#chartHoverPeakValue {
    width: 50px;
    font-weight: bold;
    color: #ff8a9a;
}

#chartHoverAvgValue {
    width: 50px;
    font-weight: bold;
    color: #b0d9b0;
}

#chartHoverLowValue {
    width: 50px;
    font-weight: bold;
    color: #8ad6ff;
}
