/***
 * CSS for the d3 SVG charts. This is SVG css not HTML css so some elements
 * may look different from standard CSS.
 * NOTE: the SVG <defs> section that contains gradients etc. is in the
 * java class : /org/rhq/enterprise/gui/coregui/client/inventory/common/AbstractMetricD3GraphView.java
 *
 */

.axis path,  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

/* Horizontal gridlines */

.grid .tick {
    stroke: #f7f7f7;
}

.y.axis  .tick.minor {
    stroke: #a7a7ac;
}
.x.axis  .tick.minor {
    stroke: #a7a7ac;
}


.y.axis  text, .x.axis text {
    font-family: Arial,Verdana,sans-serif;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    stroke: #50505a;

}

.x.axis path  {
    stroke: #50505a;
}

.y.axis path {
    stroke: #50505a;
}

.minLabel, .avgLabel, .highLabel  {
    font-family: Arial,Verdana,sans-serif;
    font-size: 12px;
    font-weight: bold;
}


.minText, .avgText, .highText  {
    font-family: Arial,Verdana,sans-serif;
    font-size: 12px;
}

.titleName  {
    font-family: Arial,Verdana,sans-serif;
    font-size: 12px;
    font-weight: bold;
}


