
.axis path,  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

/* Horizontal gridlines */

.grid .tick {
    stroke: #f7f7f7;
}

.y.axis  .tick.minor {
    stroke: #a7a7ac;
}

.y.axis  text {
    font-family: "Liberation Sans", Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    stroke: #50505a;
}

.y.axis path {
    display: none;
}

.minLabel, .avgLabel, .highLabel  {
    font-family: "Liberation Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
}


.minText, .avgText, .highText  {
    font-family: "Liberation Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.titleName  {
    font-family: "Liberation Sans", Arial, Helvetica, sans-serif;
    font-size: 14px;
}


