#patternFlyLogin h2 {
  font-family: "Overpass", sans-serif;
  font-size: 2.7em;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.005em;
}
       
#patternFlyLogin .details p {
  padding-bottom: 6em;
}

#patternFlyLogin .rhqLabel {
  bottom: 45%;
  position: absolute;
}

#patternFlyLogin .caps {
  background-image: url(img/caps.png);
  background-position: right center;
  background-repeat: no-repeat;
}

#patternFlyLogin #errorFeedback {
  background-position: left bottom;
  background-repeat: no-repeat;
  padding-bottom: 1em;
  background-image: url(img/feedback-error-arrow-down.png);
  position: absolute;
  transition: opacity 0.33s ease-in-out;
  -moz-transition: opacity 0.33s ease-in-out;
  -webkit-transition: opacity 0.33s ease-in-out;
  left: 35.7em;
  top: -7.2em;
  min-width: 35em;
}

#patternFlyLogin .showError {
  opacity: 1;
}

#patternFlyLogin .hideError {
  opacity: 0;
}

#patternFlyLogin #errorFeedback p {
  background-image: url(img/feedback-error-sign.png);
  padding: 0.90909090909091em 3.63636363636364em;
  border-color: #b91415;
  border-style: solid;
  border-width: 1px 1px 0px 1px;
  background-repeat: no-repeat;
  background-position: 1.27272727272727em center;
  font-size: 1.1em;
  line-height: 1.4em;
  color: #4d5258;
  background-color: #f8e7e7;
  margin-bottom: 0;
}
