/* PatternFly Overrides */
/* warning JON uses different orerrides, if updating this file, don't forget to update also the JON's css file in jon git repo */
/* login page */
#patternFlyLogin h2 {
    font-size: 2.7em;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0.005em;
}

#patternFlyLogin .details p {
    padding-bottom: 6em;
}

#patternFlyLogin .rhqLabel {

}

.login-pf .container {
    position: relative !important;
    top: 0px !important;
    bottom: 0px !important;
}

#patternFlyLogin #patternFlyContainer {
    bottom: 13%;
    position: absolute;
    width: 100%;
}

#patternFlyLogin .caps {
    background-image: url(../img/caps.png);
    background-position: right center;
    background-repeat: no-repeat;
}

#patternFlyLogin #errorFeedback {
    background-position: left bottom;
    background-repeat: no-repeat;
    padding-bottom: 1em;
    background-image: url(../img/feedback-error-arrow-down.png);
    position: absolute;
    transition: opacity 0.33s ease-in-out;
    -moz-transition: opacity 0.33s ease-in-out;
    -webkit-transition: opacity 0.33s ease-in-out;
    left: 35.7em;
    top: -7.2em;
    min-width: 35em;
}

#patternFlyLogin .showError {
    opacity: 1;
}

#patternFlyLogin .hideError {
    opacity: 0;
}

#patternFlyLogin #errorFeedback p {
    background-image: url(../img/feedback-error-sign.png);
    padding: 0.90909090909091em 3.63636363636364em;
    border-color: #b91415;
    border-style: solid;
    border-width: 1px 1px 0px 1px;
    background-repeat: no-repeat;
    background-position: 1.27272727272727em center;
    font-size: 1.1em;
    line-height: 1.4em;
    color: #4d5258;
    background-color: #f8e7e7;
    margin-bottom: 0;
}

/* navbar customizations */
.navbar-pf {
    border-top: 3px solid #4e627a;
    background-image: url(../img/top-bar.png);
}

.navbar-logo {
    height: 25px;
}

.navbar-pf .navbar-utility > li > a {
    border-left: 1px solid #575f65;
}

.navbar-pf .navbar-header {
    border-bottom: none !important;
}

.navbar-pf .navbar-primary {
    background-image: -webkit-linear-gradient(top, #24323a 0%, #222e36 100%);
    background-image: linear-gradient(to bottom, #24323a 0%, #222e36 100%);
    border-bottom: 1px solid #a7abb4;
    border-top: 1px solid #1b242a;
}

.navbar-pf .navbar-nav > .active > a,
.navbar-pf .navbar-nav > .active > a:hover,
.navbar-pf .navbar-nav > .active > a:focus {
    border-top: 1px solid #575f65 !important;
    background-image: none !important;
    background-color: rgba(255, 255, 255, .1) !important;
    border-bottom-color: rgba(255, 255, 255, .1);
    color: #f0f0f0 !important;
}

.navbar-pf .navbar-primary > li {
    border-right: 1px solid #0d0e0f;
    border-top: 1px solid #1b242a;
}

.navbar-pf .navbar-utility > li > a {
    color: #f0f0f0 !important;
    line-height: 1;
    text-shadow: none;
    margin: 0px 0 0;
    border-top: none;
    cursor: pointer;
}

.navbar-pf .navbar-primary > li > a {
    color: #f0f0f0 !important;
    border-top: 1px solid #24323a;
}

.navbar-pf .navbar-nav > li > a:hover,
.navbar-pf .navbar-nav > li > a:focus {
    background-color: rgba(255, 255, 255, .1) !important;
    background-image: none;
    border-left-color: #575f65;
    border-top-color: #575f65;
    border-bottom-color: #575f65;
    color: #f0f0f0 !important;
    text-decoration: none !important;
}

.navbar-pf .navbar-nav > .open > a,
.navbar-pf .navbar-nav > .open > a:hover,
.navbar-pf .navbar-nav > .open > a:focus {
    background-image: none !important;
    background-color: rgba(255, 255, 255, .1) !important;
}

@media (max-width: 767px) {
    .navbar-pf .navbar-nav .active .navbar-persistent,
    .navbar-pf .navbar-nav .active .dropdown-menu,
    .navbar-pf .navbar-nav .open .dropdown-menu {
        background-image: linear-gradient(to bottom, #ffffff 0%, #F1F2F3 100%) !important;
    }
}

.navbar-pf .navbar-brand {
    padding: 0;
}

/* navbar special buttons (main menuitem link + caret button for dropdown */

.navbar-btn-group {
    margin-top: 13.5px;
    margin-bottom: 15px;
}

.navbar-btn-item {
    padding: 11px 20px 13px;
    line-height: 1;
    text-shadow: none;
    background: transparent;
    border: none;
    border-top: 1px solid #24323a;
    color: #f0f0f0 !important;
}

.active a.navbar-btn-item {
    background-image: none !important;
    background-color: rgba(255, 255, 255, .1) !important;
    border-top: 1px solid #575f65 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #f0f0f0 !important;
}

.open a.navbar-btn-item, .open a.navbar-btn-item:hover {
    background-image: none !important;
    background-color: rgba(255, 255, 255, .1) !important;
    border-bottom-color: rgba(255, 255, 255, .1) !important;
    border-top: 1px solid #575f65 !important;
    color: #f0f0f0 !important;
}

.open a.nbi-link {
    border-right: 1px solid #575f65 !important;
}

.open a.nbi-caret, .open a.nbi-caret:hover {
    background-color: rgba(255, 255, 255, .15) !important;
}

a.navbar-btn-item:hover, a.navbar-btn-item:focus {
    background: initial !important;
    background-color: rgba(255, 255, 255, .15) !important;
    border-bottom-color: #F1F2F3;
    border-top-color: #575f65;
    color: #f0f0f0 !important;
    text-decoration: none !important;
}

.navbar-btn-item-hover a.navbar-btn-item {
    border-top: 1px solid #575f65 !important;
    background-color: rgba(255, 255, 255, .1);
}

.navbar-btn-item-hover a.nbi-link {
    border-right: 1px solid #575f65 !important;
}

.navbar-btn-group > a {
    color: #f0f0f0 !important;
}

.navbar-btn-item:visited {
    color: #f0f0f0 !important;
    text-decoration: none !important;
}

a.nbi-link {
    padding-right: 7px;
    border-right: 1px solid transparent !important;
}

.nbi-caret {
    padding-right: 7px;
    padding-left: 3px;
    cursor: pointer;
}

.dropdown > .dropdown-menu {
    z-index: 999999
}
