#
# Specific files and directories must start with a slash
# See http://git-scm.com/docs/gitignore
#
/dev-container/
/rhq-data/
/modules/enterprise/gui/portal-war/build/classes/
/modules/enterprise/gui/coregui/build/classes/
#eclipse specific
/modules/enterprise/gui/coregui/.externalToolBuilders/
/modules/enterprise/gui/content_http-war/build/classes/
#created by rhq-enterprise-server's unit tests
/modules/enterprise/server/jar/transaction.log

#
# Files and directories to ignore at any level in the tree
#
target/
test-output/
eclipse-classes/
logs/
antlr-generated/
gwt-tmp/
.idea/
.metadata/
*cache.html
*cache.xml
*.swp
*.iml
*.ipr
*.iws
*.tokens
*rsa
*_private.sh
.*.jsfdia
.wtpmodules
*~
*.DS_Store
#these are created by the python script engine during the tests
cachedir/
