<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!--
   | For more configuration information and examples, see the Jakarta Log4j
   | website: http://jakarta.apache.org/log4j
 -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.out"/>
    <param name="Threshold" value="INFO"/>

    <layout class="org.apache.log4j.PatternLayout">
      <!-- The default pattern: Date Priority [Category] Messagen -->

      <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>

      <!--<param name="ConversionPattern" value="%-5p %d{dd-MM HH:mm:ss,SSS} (%F:%M:%L)  -%m%n"/>-->
    </layout>
  </appender>

  <appender name="FILE" class="org.apache.log4j.RollingFileAppender">
    <param name="File" value="target/test.log"/>
    <param name="Append" value="false"/>

    <layout class="org.apache.log4j.PatternLayout">
      <!-- The default pattern: Date Priority [Category] Messagen -->
      <!--
      <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
      -->
      <param name="ConversionPattern" value="%-5p %d{dd-MM HH:mm:ss,SSS} (%F:%M:%L)  -%m%n"/>
    </layout>
  </appender>

  <category name="org.apache.http">
    <priority value="ERROR"/>
  </category>

  <category name="org.apache.http.wire">
    <priority value="ERROR"/>
  </category>

  <category name="org.apache.http.headers">
    <priority value="ERROR"/>
  </category>

  <category name="org.rhq.modules.plugins">
    <priority value="DEBUG"/>
  </category>

  <category name="org.rhq.plugins">
    <priority value="DEBUG"/>
  </category>

  <category name="org.rhq.core.pc">
    <priority value="ERROR"/>
  </category>

  <category name="org.rhq.core.pc.PluginContainer">
    <priority value="INFO"/>
  </category>

  <category name="org.rhq.core.clientapi">
    <priority value="FATAL"/>
  </category>

  <root>
    <level value="INFO"/>

    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE"/>
  </root>

</log4j:configuration>
