body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    font-size: small;
    margin: 8px;
}

.OddRow {
    background-color: white;
    border-bottom-color: rgb(230, 234, 239);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-color: rgb(217, 224, 227);
    border-right-style: solid;
    border-right-width: 1px;

}

.OddRowDisabled {
    background-color: white;
    border-bottom-color: rgb(230, 234, 239);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-color: rgb(217, 224, 227);
    border-right-style: solid;
    border-right-width: 1px;

}

.EvenRow {
    background-color: rgb(246, 246, 246);
    border-bottom-color: rgb(230, 234, 239);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-color: rgb(217, 224, 227);
    border-right-style: solid;
    border-right-width: 1px;

}

.EvenRowDisabled {
    background-color: rgb(246, 246, 246);
    border-bottom-color: rgb(230, 234, 239);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-color: rgb(217, 224, 227);
    border-right-style: solid;
    border-right-width: 1px;

}

.TopSectionLink {
    font-size: 16pt;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

z

.BreadCrumb {
    font-size: 12pt;
    font-weidght: bold;
    text-decoration: none;
    color: darkgray;
}

.SectionHeader {
    font-size: 16pt;
    font-weight: bold;
}

.textItemDisabled {
    background: rgb(214, 213, 217);
}

.formTitle, .formTitleFocused {
    font-weight: bold;
}


.SubTabButton,
.SubTabButtonOver,
.SubTabButtonFocused,
.SubTabButtonFocusedOver,
.SubTabButtonDown,
.SubTabButtonFocusedDown,
.SubTabButtonSelected,
.SubTabButtonSelectedFocused,
.SubTabButtonSelectedDown,
.SubTabButtonSelectedFocusedDown,
.SubTabButtonSelectedOver,
.SubTabButtonSelectedFocusedOver,
.SubTabButtonDisabled,
.SubTabButtonSelectedDisabled {
    font-family: Arial, Verdana, Bitstream Vera Sans, sans-serif;
    font-size: 11px;
    padding: 2px;
    }

.SubTabButtonDisabled {

}

.SubTabButtonDisabled,
.SubTabButtonSelectedDisabled {
    font-weight: normal;
    color: #AAAAAA;
}

.SubTabButtonFocused,
.SubTabButtonFocusedOver,
.SubTabButtonSelectedFocused,
.SubTabButtonSelectedFocusedOver,
.SubTabButtonSelectedFocusedDown {

}

.SubTabButtonOver,
.SubTabButtonFocusedOver,
.SubTabButtonSelectedFocused,
.SubTabButtonSelectedFocusedOver {
    font-weight: bold;
}

.SubTabButtonDown,
.SubTabButtonFocusedDown,
.SubTabButtonSelectedDown,
.SubTabButtonSelectedFocusedDown {
    font-weight: bold;
    font-size: 12px;
}

.SubTabButtonSelected,
.SubTabButtonSelectedFocused,
.SubTabButtonSelectedOver,
.SubTabButtonSelectedFocusedOver,
.SubTabButtonSelectedDisabled {
    font-weight: bold;
}