body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    font-size: small;
    margin: 8px;
}



.OddRow {
    background-color: white;
    border-bottom-color: rgb(230, 234, 239);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-color: rgb(217, 224, 227);
    border-right-style: solid;
    border-right-width: 1px;

}
.OddRowDisabled {
    background-color: white;
    border-bottom-color: rgb(230, 234, 239);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-color: rgb(217, 224, 227);
    border-right-style: solid;
    border-right-width: 1px;

}

.EvenRow {
    background-color: rgb(246, 246, 246);
    border-bottom-color: rgb(230, 234, 239);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-color: rgb(217, 224, 227);
    border-right-style: solid;
    border-right-width: 1px;

}
.EvenRowDisabled {
    background-color: rgb(246, 246, 246);
    border-bottom-color: rgb(230, 234, 239);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-right-color: rgb(217, 224, 227);
    border-right-style: solid;
    border-right-width: 1px;

}


.textItemDisabled {
    background: rgb(214, 213, 217);

}