<?xml version="1.0"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

   <display-name>RHQ Content HTTP Support</display-name>

 
    <!-- Export content through http support -->
    <servlet>
        <servlet-name>ContentHTTP</servlet-name>
        <servlet-class>org.rhq.gui.content.ContentHTTPServlet</servlet-class>
        <!-- <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class> -->
            <init-param>
                <param-name>listings</param-name>
                <param-value>true</param-value>
            </init-param>
            <init-param>
                <param-name>readonly</param-name>
                <param-value>true</param-value>
            </init-param>

    </servlet>

    <servlet-mapping>
        <servlet-name>ContentHTTP</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>

