<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- ===================================================================== -->
<!--                                                                       -->
<!--  Log4j Configuration                                                  -->
<!--                                                                       -->
<!-- ===================================================================== -->

<!-- $Id: log4j.xml 39945 2006-01-12 02:44:07Z bill $ -->

<!--
   | For more configuration information and examples see the Jakarta Log4j
   | website: http://jakarta.apache.org/log4j
 -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="true">

   <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
      <errorHandler class="org.jboss.logging.util.OnlyOnceErrorHandler"/>
      <param name="Target" value="System.out"/>
      <param name="Threshold" value="ERROR"/>

      <layout class="org.apache.log4j.PatternLayout">
         <!-- The default pattern: Date Priority [Category] Messagen -->
         <!--
         <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
         -->
         <param name="ConversionPattern" value="%-5p %d{dd-MM HH:mm:ss,SSS} [%c] (%F:%M:%L)  -%m%n"/>
      </layout>
   </appender>

   <appender name="FILE" class="org.apache.log4j.RollingFileAppender">
      <param name="File" value="target/server-jar-test.log"/>
      <param name="Threshold" value="WARN"/>
      <param name="Append" value="false"/>

      <layout class="org.apache.log4j.PatternLayout">
         <!-- The default pattern: Date Priority [Category] Messagen -->
         <!--
         <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%c{1}] %m%n"/>
         -->
         <param name="ConversionPattern" value="%-5p %d{dd-MM HH:mm:ss,SSS} [%c] (%F:%M:%L)  -%m%n"/>
      </layout>
   </appender>

   <category name="STDOUT" additivity="false">
      <priority value="INFO"/>
   </category>

   <category name="STDERR" additivity="false">
      <priority value="ERROR"/>
   </category>

   <category name="org">
      <priority value="WARN"/>
   </category>

   <category name="org.rhq">
      <priority value="DEBUG"/>
   </category>

   <category name="org.rhq.enterprise.server.scheduler.SchedulerService">
      <priority value="WARN"/>
   </category>

   <category name="org.rhq.enterprise.server.configuration.ConfigurationManagerBean">
      <priority value="WARN"/>
   </category>

   <!-- Hibernate logs WARNINGS frequent from this class, in test envs. -->
   <category name="org.hibernate.hql.ast.QueryTranslatorImpl">
      <priority value="ERROR"/>
   </category>

   <!-- hides the TIMER SERVICE IS NOT INSTALLED warning - we know embedded EJB3 container doesn't support timers -->
   <category name="org.jboss.ejb3.timerservice.jboss.JBossTimerServiceFactory">
      <priority value="ERROR"/>
   </category>

   <!-- hides the shutdown warnings - for some reason, the container spits out some warnings when shutting down -->
   <category name="org.jboss.kernel.plugins.dependency.StartStopLifecycleAction">
      <priority value="ERROR"/>
   </category>

   <!-- Hibernate SQL logs -->
   <!-- 
   <category name="org.hibernate.SQL">
      <priority value="DEBUG"/>
   </category>
   -->

   <root>
      <appender-ref ref="CONSOLE"/>
      <appender-ref ref="FILE"/>
   </root>

</log4j:configuration>
