<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>RHQ Rest interface</display-name>

    <context-param>
        <param-name>resteasy.jndi.resources</param-name>
        <param-value>rhq/ResourceHandlerBean/local,rhq/MetricHandlerBean/local,rhq/UserHandlerBean/local,rhq/StatusHandlerBean/local,rhq/AlertHandlerBean/local</param-value>
        <description>List of jndi names of EJBs local interfaces that define REST stuff</description>
    </context-param>
    <context-param>
        <param-name>resteasy.providers</param-name>
        <param-value>org.rhq.enterprise.server.rest.CustomExceptionMapper</param-value>
        <description>Maps Exceptions to HTTP response codes</description>
    </context-param>
    <context-param>
        <param-name>resteasy.servlet.mapping.prefix</param-name>
        <param-value>/1</param-value>
        <description>Prefix of the REST api</description>
    </context-param>
    <context-param>
        <param-name>resteasy.media.type.mappings</param-name>
        <param-value>html : text/html, json : application/json, xml : application/xml</param-value>
    </context-param>

    <!--
        <filter>

            <filter-name>AuthFilter</filter-name>
            <filter-class>org.rhq.enterprise.rest.AuthFilter</filter-class>
        </filter>
        <filter-mapping>
            <filter-name>AuthFilter</filter-name>
            <servlet-name>Resteasy</servlet-name>
        </filter-mapping>
    -->


    <servlet>
        <servlet-name>Resteasy</servlet-name>
        <servlet-class>
            org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
        </servlet-class>

        <init-param>
            <param-name>resteasy.scan</param-name>
            <param-value>false</param-value>
        </init-param>

        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>org.rhq.enterprise.server.rest.RHQApplication</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>Resteasy</servlet-name>
        <url-pattern>/1/*</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>REST</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>DELETE</http-method>
            <http-method>PUT</http-method>
            <http-method>HEAD</http-method>
            <http-method>OPTIONS</http-method>
            <http-method>TRACE</http-method>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>all</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>RHQ REST</realm-name>
    </login-config>

    <security-role>
        <description>This is valid for all principals, as we do internal checks</description>
        <role-name>all</role-name>
    </security-role>

</web-app>
