<!--
  ~ RHQ Management Platform
  ~ Copyright (C) 2005-2012 Red Hat, Inc.
  ~ All rights reserved.
  ~
  ~ This program is free software; you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation version 2 of the License.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program; if not, write to the Free Software
  ~ Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
-->

<persistence
  version="2.0"
  xmlns="http://java.sun.com/xml/ns/persistence"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="
        http://java.sun.com/xml/ns/persistence
        http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="rhqpu">
    <jta-data-source>java:jboss/datasources/RHQDS</jta-data-source>
    
    <properties>
      <!-- This allows us to lookup the EMF by name prior to when Arquillian injects it, which is currently only in the @Test,
        and not the @BeforeMethod (1.0.1.Final) -->
      <property
        name="jboss.entity.manager.factory.jndi.name"
        value="java:jboss/RHQEntityManagerFactory" />


      <!--
        <property name="hibernate.show_sql" value="true" />
        <property name="hibernate.format_sql" value="true" />
        <property name="hibernate.use_sql_comments" value="true" />
      -->

      <property
        name="hibernate.jdbc.batch_size"
        value="30" />
      <property
        name="hibernate.cache.use_second_level_cache"
        value="false" />

    </properties>
  </persistence-unit>
</persistence>
