<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.0" name="${moduleName}">

    <main-class name="org.rhq.enterprise.server.installer.Installer"/>

    <resources>
        <resource-root path="${project.build.finalName}.jar"/>
        <resource-root path="rhq-core-dbutils-${project.version}.jar"/>
        <resource-root path="rhq-core-util-${project.version}.jar"/>
        <resource-root path="rhq-enterprise-comm-${project.version}.jar"/>
        <resource-root path="rhq-jboss-as-dmr-client-${project.version}.jar"/>
        <resource-root path="ant-${ant.version}.jar"/>
        <resource-root path="ant-launcher-${ant.version}.jar"/>
        <resource-root path="i18nlog-${i18nlog.version}.jar"/>
        <resource-root path="rhq-cassandra-schema-${project.version}.jar"/>
        <!-- begin rhq-cassandra-schema dependencies -->
        <!--
          cassandra-driver-core declares a lot of dependencies, many of which
          are very likely not needed. For now I am only declaring those
          dependencies that are known to be needed. They are known to be needed
          because excluding them results in a ClassNotFoundException.
        -->
        <resource-root path="cassandra-driver-core-0.1.0-SNAPSHOT.jar"/>
        <resource-root path="slf4j-api-1.7.2.jar"/>
        <resource-root path="slf4j-log4j12-1.6.6.jar"/>
        <resource-root path="netty-3.5.9.Final.jar"/>
        <resource-root path="cassandra-all-1.2.0-rc1.jar"/>
        <resource-root path="metrics-core-2.2.0.jar"/>
        <resource-root path="guava-12.0.jar"/>
        <resource-root path="cassandra-thrift-1.2.0-rc1.jar"/>
        <resource-root path="libthrift-0.7.0.jar"/>
        <resource-root path="jackson-mapper-asl-1.4.0.jar"/>
        <resource-root path="jackson-core-asl-1.4.0.jar"/>
      <!-- end rhq-cassandra-schema dependencies -->
      <resource-root path="liquibase-core-3.0.0-SNAPSHOT.jar"/>
      <resource-root path="cassandra-jdbc-1.2.0-SNAPSHOT.jar"/>
      <resource-root path="cassandra-liquibase-ext-0.1.0-SNAPSHOT.jar"/>
      <resource-root path="commons-codec-1.3.jar"/>
    </resources>

    <dependencies>
        <module name="gnu.getopt"/>
        <module name="org.apache.commons.logging"/>
        <module name="org.apache.log4j"/>
        <module name="org.jboss.logmanager" services="import"/>
        <module name="org.jboss.as.controller-client"/>
        <module name="org.jboss.logging"/>
        <module name="org.jboss.as.protocol"/>
        <module name="org.jboss.dmr"/>
        <module name="org.jboss.sasl"/>
        <module name="org.jboss.staxmapper"/>
        <module name="org.picketbox"/>
        <module name="org.rhq.postgres"/>
        <module name="org.rhq.oracle" optional="true" />
        <module name="javax.api"/>
    </dependencies>

</module>
