<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.0" name="${moduleName}">
  <main-class name="org.rhq.storage.installer.StorageInstaller"/>

  <resources>
    <resource-root path="${project.build.finalName}.jar"/>
    <resource-root path="rhq-cassandra-ccm-core-${rhq-cassandra-ccm-core.version}.jar"/>
    <resource-root path="rhq-core-dbutils-${rhq-core-dbutils.version}.jar"/>
    <resource-root path="rhq-core-util-${rhq-core-util.version}.jar"/>
    <resource-root path="rhq-cassandra-util-${rhq-cassandra-util.version}.jar"/>
    <resource-root path="i18nlog-${i18nlog.version}.jar"/>
    <resource-root path="snakeyaml-${cassandra.snakeyaml.version}.jar"/>
  </resources>

  <dependencies>
    <module name="javax.api"/>
    <module name="org.apache.commons.logging"/>
    <module name="org.apache.commons.cli"/>
    <module name="org.apache.commons.exec"/>
    <module name="org.apache.commons.io"/>
    <module name="org.apache.log4j"/>
    <module name="sun.jdk"/>
    <module name="org.jboss.logmanager" services="import"/>
    <module name="org.jboss.logging"/>
    <module name="org.picketbox"/>
    <module name="org.rhq.postgres"/>
    <module name="org.rhq.oracle" optional="true" />
  </dependencies>
</module>
