
/* ------------------ Red Hat Tab & "A JBoss Project" label - Necessary for every JBoss project regardless of hosting location ------------------------- */
.dropup {
  /* --- This is the standard RH tab that overlaps what's below it (project banner or navigation bar) --- */
  /* display: none;  HIDE IT UNTIL WORKING */
  height: 37px;
  background-image: url("http://static.jboss.org/common/images/tabzilla/tabzilla-redhat-logo-sprite.png");
  background-repeat: no-repeat;
  background-position: right top;
  width: 250px;
  background-color: transparent;
  position: absolute;
  right: 40px;
  margin-bottom: -40px;
  z-index: 999;
  text-align: center;
  margin-top: -1px !important;
}
/* -- These styles come into play when subprojects is marked as "true" on "_layouts/subproject.html.haml"  --- */
#subproject .navbar {
  margin-top: 40px;
}
#subproject #navbar-fixed {
  margin-top: 0px;
}

/* -- id changed to class for stickynav ---- */

#subproject .navbar-fixed {
  margin-top: 0px;
}

/* -- id changed to class for stickynav ---- */

#subproject .navbar-inverse {
  margin-top: 0px;
}
/* --- end of subproject styles --- */
#tabnav-panel {
  background-color: transparent;
}
#tabnav-panel li {
  list-style: none;
}
#tabnav-panel .middlewarelogo {
  border-right: 1px solid #d5d5d5;
  text-align: center;
  margin: 0 auto;
  padding: 0 35px 20px 0;
}
#tabnav {
  background-color: #FFF;
  margin: 0px auto;
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
  font-size: 13.5px;
  height: 100%;
  text-align: left;
}
#tabnav .tabcontent {
  padding-top: 30px;
tady
  background: linear-gradient(to bottom, #e1eef4 0%, #ffffff 60%) no-repeat scroll 0 0 transparent;
  height: 100%;
  clear: both;
  padding: 20px 25px;
}
#tabnav .tabcontent .overview {
  padding-bottom: 30px;
  font-size: 15px;
}
#tabnav .span6 {
  padding: 20px 10px 0 10px;
}
#tabnav ul {
  padding: 0px;  /* added this to fix issue in Magnolia from styles.css */
}
#tabnav ul li {
  color: #656565;
  line-height: 23px;
  list-style: none;
  padding: 0px;
}
#tabnav ul li a {
  text-decoration: none;
  text-shadow: 0 1px 1px #e4eaf1;
}
#tabnav ul li a:hover {
  text-shadow: 1px 1px 1px #e4eaf1;
  text-decoration: none;
}
/* (I renamed all tabzilla to tabnav here...) */
#tabnav-panel.tabnav-opened {
  height: 240px;
  border-bottom: 1px solid #d5d5d5;
}
#tabnav-panel {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-family: 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  height: 0;
  line-height: 1.3;
  overflow: hidden;
  position: relative;
}
#tabnav-contents {
  bottom: 0;
  left: 50%;
  right: 0;
  text-align: left;
}
* html #tabnav-contents {
  zoom: 1;
}
/* IE6 */
*:first-child + html #tabnav-contents {
  zoom: 1;
}
/* IE7 */
#tabnav-contents:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}
#tabnav-promo .snippet h4,
#tabnav-panel #tabnav-nav,
#tabnav-panel #tabnav-nav h2 {
  color: #484848;
  font-family: 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
#tabnav-panel #tabnav-nav ul {
  margin: 0;
  padding: 0;
}
#tabnav-panel #tabnav-nav h2 {
  font-size: 13px;
  font-weight: 600;
  margin: 0 20px 0.4em;
  white-space: nowrap;
}
#tabnav-panel #tabnav-nav ul li ul li {
  border-right: 0 none;
  float: none;
  height: auto;
  margin: 0;
}
#tabnav-panel #tabnav-nav a {
  color: #484848;
  display: block;
  outline: 0 none;
  padding: 0.1em 8px 0.2em 20px;
}
#tabnav ul li#tabnav-search {
  border-right: 0 none;
}
#tabnav #tabnav-search ul li {
  background: none repeat scroll 0 0 transparent;
  border-right: 1px dotted #D6D6D6;
  display: inline;
  float: left;
  height: 95px;
  line-height: 1.1;
  list-style-type: none;
  margin: 20px 0 0;
  padding: 0;
  width: 16.5%;
}
#tabnav ul li#tabnav-search a {
  padding-top: 0;
}
#tabnav ul li#tabnav-search form {
  margin: 0.4em 10px;
}
#tabnav ul li#tabnav-search input:-moz-placeholder {
  color: #173444;
}
/* --- The "A JBoss Project box --- */
#ajbossproject {
  margin-top: 8px;
  width: 130px;
  height: 20px;
  background-color: rgba(66, 66, 66, 0.75);
  filter: alpha(opacity=75);
  /* For IE8 and earlier */
  color: #e6e7e8;
  -moz-border-radius: 2px;
  /* firefox */
  -webkit-border-radius: 2px;
  /* safari/chrome */
  border-radius: 2px;
  /* CSS3, works in IE9 */
}
/* =Dropup Tab */
#tab.tabnav-opened:after {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
#tab:after {
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  order-radius: 8px;
  background: url("http://static.jboss.org/common/images/arrow-tabnav-down.png") repeat scroll 0 0 transparent;
  content: "x";
  height: 15px;
  position: absolute;
  right: 12px;
  top: 9px;
  width: 13px;
}
#tab.tabnav-opened, .darkbg #tab.tabnav-opened {
  background-position: 0 -47px;
}
#tab {
  /*background: url(../../images/common/tabnav-search.png) repeat scroll 0 0 transparent;  */
  display: block;
  float: right;
  height: 40px;
  overflow: hidden;
  position: absolute;
  text-indent: -2000px;
  width: 100px;
  z-index: 999;
  top: 0px;
  right: 4px;
}


/* --- Resolution width adjustments ---*/
@media (min-width: 1200px) {
  #tabnav-panel {
    margin: 0 auto;
  }
  #tabnav-panel.fullwidth {
    width: 100%;
  }
}
@media (min-width: 980px) and (max-width: 1199px) {
  #tabnav-panel {
    width: 1000px;
    margin: 0 auto;
  }
  #tabnav-panel.fullwidth {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  #tabnav-panel {
    width: 784px;
    margin: 0 auto;
  }
  #tabnav-panel.fullwidth {
    width: 100%;
  }
}
@media (max-width: 767px) {
  #tabnav-panel {
    max-width: 767px;
    margin: 0 auto;
  }
  #tabnav-panel.fullwidth {
    width: 100%;
  }
  #tabnav-panel .middlewarelogo {
    border-right: 0px;
    border-bottom: 1px solid #d5d5d5;
    margin-bottom: 15px;
  }
  #tabnav-panel.tabnav-opened {
    height: 370px;
  }
  .dropup {
    height: 37px;
    background-image: url("http://static.jboss.org/common/images/tabzilla/tabzilla-redhat-logo-sprite.png");
    background-position: left bottom;
    width: 74px;
    right: 30px;
  }
  /* ---- Hides "A JBoss Project" box on mobile devices ---- */
  #ajbossproject {
    display: none;
  }
}
/* ---- End Red Hat tab and "A JBoss project" box ---- */



/* ---- Magnolia-specific overwrite ---- */
#project #tabnav-panel.tabnav-opened {
  border-bottom: 0px;
}

/* ------------------- Styles that Need to apply to any framework!  ------------------ */
a:hover, a:active, a, object, embed, *:focus {
    outline: medium none !important;
}
img {
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
#tab {
  background: none;
}
#tabnav ul li {
  width: 100%;
}
#tabnav{
  font-weight: normal;
}
#tabnav ul li a {
    color: #336699;
    text-decoration: none;
}
#tabnav ul li a:hover {
    color: #A5AA4D;
    text-decoration: none;
}

/***** Bootstrap Styles ******/
.row-fluid .span4 {
    width: 31.6239%;
}
.row-fluid [class*="span"] {
    box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    display: block;
    float: left;
    margin-left: 2.5641%;
    min-height: 30px;
    /*width: 100%;*/
}

.row-fluid:before, .row-fluid:after {
    content: "";
    display: table;
    line-height: 0;
}
.row-fluid:after {
    clear: both;
}
.row-fluid {
    width: 100%;
}

@media (max-width: 767px) {
  [class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
    box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    display: block;
    float: none;
    margin-left: 0;
    width: 100%;
  }
}
