<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:jboss:module:1.0" name="${moduleName}">
  <main-class name="org.rhq.cassandra.BootstrapDeployer"/>

  <resources>
    <resource-root path="${project.build.finalName}.jar"/>
    <resource-root path="rhq-ant-bundle-common-${project.version}.jar"/>
    <resource-root path="rhq-core-util-${project.version}.jar"/>
    <resource-root path="jdom-1.0.jar"/>
    <resource-root path="i18nlog-1.0.10.jar"/>
    <resource-root path="rhq-core-native-system-${project.version}.jar"/>
    <resource-root path="ant-1.8.0.jar"/>
    <resource-root path="ant-launcher-1.8.0.jar"/>
    <resource-root path="ant-nodeps-1.8.0.jar"/>
    <resource-root path="ant-contrib-1.0b3.jar"/>
    <resource-root path="rhq-core-plugin-api-${project.version}.jar"/>
    <resource-root path="cassandra-thrift-${cassandra.version}.jar"/>
    <resource-root path="slf4j-api-1.7.2.jar"/>
    <resource-root path="rhq-core-domain-${project.version}.jar"/>
    <resource-root path="commons-lang-2.4.jar"/>
    <resource-root path="slf4j-api-1.7.2.jar"/>
    <resource-root path="libthrift-0.7.0.jar"/>
  </resources>

  <dependencies>
    <module name="com.sun.xml.bind"/>
    <module name="javax.api"/>
    <module name="org.apache.commons.logging"/>
    <module name="org.apache.log4j"/>
    <module name="javax.api"/>
  </dependencies>
</module>