This is a test DataSource

#if ($jndi-name)
<jndi-name>$jndi-name<jndi-name>
#end
#foreach( $key in $connection-properties.keySet() ) 
<connection-property name="$key">$connection-properties.get($key)</connection-property>
#end
