<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/rhq/modules/enterprise/server/plugins/url/src/main/java/org/rhq/enterprise/server/plugins/url/XmlIndexParser.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.rhq.enterprise.server.plugins.url.XmlIndexParser"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="${folder_prompt:Content Directory} ${string_prompt:Package Type Name} ${string_prompt:Architecture} ${string_prompt:Resource Type Name} ${string_prompt:Resource Type Plugin}"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="rhq"/>
</launchConfiguration>
