<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- tests configuration that only dumps WARN or higher messages due to appender threadhold -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

   <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
      <param name="Threshold" value="ERROR"/>
      <param name="Target" value="System.out"/>

      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p [%t] (%c{5}) - %m%n"/>
      </layout>
   </appender>

   <appender name="FILE" class="org.apache.log4j.FileAppender">
      <param name="File" value="target/test.log"/>
      <param name="Threshold" value="DEBUG"/>
      <param name="Append" value="false"/>
      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="%-5p %d{dd-MM HH:mm:ss,SSS} (%F:%M:%L)  -%m%n"/>
      </layout>
   </appender>

   <category name="org.jboss.on">
      <priority value="DEBUG"/>
   </category>

   <root>
      <appender-ref ref="CONSOLE"/>
      <appender-ref ref="FILE"/>
   </root>

</log4j:configuration>
