<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <servlet>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI ResourceGroupGWTService</servlet-name>
        <servlet-class>org.rhq.enterprise.gui.coregui.server.inventory.group.ResourceGroupGWTServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI ResourceGWTService</servlet-name>
        <servlet-class>org.rhq.enterprise.gui.coregui.server.inventory.resource.ResourceGWTServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI ConfigurationGwtService</servlet-name>
        <servlet-class>org.rhq.enterprise.gui.coregui.server.inventory.configuration.ConfigurationGwtServiceImpl
        </servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI ResourceGroupGWTService</servlet-name>
        <url-pattern>/org.rhq.enterprise.gui.coregui.CoreGUI/ResourceGroupGWTService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI ResourceGWTService</servlet-name>
        <url-pattern>/org.rhq.enterprise.gui.coregui.CoreGUI/ResourceGWTService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI ConfigurationGwtService</servlet-name>
        <url-pattern>/org.rhq.enterprise.gui.coregui.CoreGUI/ConfigurationGwtService</url-pattern>
    </servlet-mapping>
</web-app>
