<?xml version="1.0"?>
        
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <display-name>RHQ GUI</display-name>


    <servlet>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI RoleGWTService</servlet-name>
        <servlet-class>org.rhq.enterprise.gui.coregui.server.gwt.RoleGWTServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI SubjectGWTService</servlet-name>
        <servlet-class>org.rhq.enterprise.gui.coregui.server.gwt.SubjectGWTServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI SystemGWTService</servlet-name>
        <servlet-class>org.rhq.enterprise.gui.coregui.server.gwt.SystemGWTServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI ResourceGroupGWTService</servlet-name>
        <servlet-class>org.rhq.enterprise.gui.coregui.server.gwt.ResourceGroupGWTServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI ResourceGWTService</servlet-name>
        <servlet-class>org.rhq.enterprise.gui.coregui.server.gwt.ResourceGWTServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI ConfigurationGWTService</servlet-name>
        <servlet-class>org.rhq.enterprise.gui.coregui.server.gwt.ConfigurationGWTServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI ResourceTypeGWTService</servlet-name>
        <servlet-class>org.rhq.enterprise.gui.coregui.server.gwt.ResourceTypeGWTServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI MeasurementDataGWTService</servlet-name>
        <servlet-class>org.rhq.enterprise.gui.coregui.server.gwt.MeasurementDataGWTServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI AlertGWTService</servlet-name>
        <servlet-class>org.rhq.enterprise.gui.coregui.server.gwt.AlertGWTServiceImpl
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI AlertDefinitionGWTService</servlet-name>
        <servlet-class>org.rhq.enterprise.gui.coregui.server.gwt.AlertDefinitionGWTServiceImpl
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI OperationGWTService</servlet-name>
        <servlet-class>org.rhq.enterprise.gui.coregui.server.gwt.OperationGWTServiceImpl
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI BundleGWTService</servlet-name>
        <servlet-class>org.rhq.enterprise.gui.coregui.server.gwt.BundleGWTServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI FileUploadServlet</servlet-name>
        <servlet-class>org.rhq.enterprise.gui.coregui.server.gwt.FileUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI BundleFileUploadServlet</servlet-name>
        <servlet-class>org.rhq.enterprise.gui.coregui.server.gwt.BundleFileUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI BundleDistributionFileUploadServlet</servlet-name>
        <servlet-class>org.rhq.enterprise.gui.coregui.server.gwt.BundleDistributionFileUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI ResourceBossGWTService</servlet-name>
        <servlet-class>org.rhq.enterprise.gui.coregui.server.gwt.ResourceBossGWTServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI AuthorizationGWTService</servlet-name>
        <servlet-class>org.rhq.enterprise.gui.coregui.server.gwt.AuthorizationGWTServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI AvailabilityGWTService</servlet-name>
        <servlet-class>org.rhq.enterprise.gui.coregui.server.gwt.AvailabilityGWTServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI TagGWTService</servlet-name>
        <servlet-class>org.rhq.enterprise.gui.coregui.server.gwt.TagGWTServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI RemoteInstallGWTService</servlet-name>
        <servlet-class>org.rhq.enterprise.gui.coregui.server.gwt.RemoteInstallGWTServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI SearchGWTService</servlet-name>
        <servlet-class>org.rhq.enterprise.gui.coregui.server.gwt.SearchGWTServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI RepoGWTService</servlet-name>
        <servlet-class>org.rhq.enterprise.gui.coregui.server.gwt.RepoGWTServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI ContentGWTService</servlet-name>
        <servlet-class>org.rhq.enterprise.gui.coregui.server.gwt.ContentGWTServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI DashboardGWTService</servlet-name>
        <servlet-class>org.rhq.enterprise.gui.coregui.server.gwt.DashboardGWTServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI EventGWTService</servlet-name>
        <servlet-class>org.rhq.enterprise.gui.coregui.server.gwt.EventGWTServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI ClusterGWTService</servlet-name>
        <servlet-class>org.rhq.enterprise.gui.coregui.server.gwt.ClusterGWTServiceImpl</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI RoleGWTService</servlet-name>
        <url-pattern>/org.rhq.enterprise.gui.coregui.CoreGUI/RoleGWTService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI SubjectGWTService</servlet-name>
        <url-pattern>/org.rhq.enterprise.gui.coregui.CoreGUI/SubjectGWTService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI SystemGWTService</servlet-name>
        <url-pattern>/org.rhq.enterprise.gui.coregui.CoreGUI/SystemGWTService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI ResourceGroupGWTService</servlet-name>
        <url-pattern>/org.rhq.enterprise.gui.coregui.CoreGUI/ResourceGroupGWTService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI ResourceGWTService</servlet-name>
        <url-pattern>/org.rhq.enterprise.gui.coregui.CoreGUI/ResourceGWTService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI ConfigurationGWTService</servlet-name>
        <url-pattern>/org.rhq.enterprise.gui.coregui.CoreGUI/ConfigurationGWTService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI ResourceTypeGWTService</servlet-name>
        <url-pattern>/org.rhq.enterprise.gui.coregui.CoreGUI/ResourceTypeGWTService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI MeasurementDataGWTService</servlet-name>
        <url-pattern>/org.rhq.enterprise.gui.coregui.CoreGUI/MeasurementDataGWTService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI AlertGWTService</servlet-name>
        <url-pattern>/org.rhq.enterprise.gui.coregui.CoreGUI/AlertGWTService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI AlertDefinitionGWTService</servlet-name>
        <url-pattern>/org.rhq.enterprise.gui.coregui.CoreGUI/AlertDefinitionGWTService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI OperationGWTService</servlet-name>
        <url-pattern>/org.rhq.enterprise.gui.coregui.CoreGUI/OperationGWTService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI BundleGWTService</servlet-name>
        <url-pattern>/org.rhq.enterprise.gui.coregui.CoreGUI/BundleGWTService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI FileUploadServlet</servlet-name>
        <url-pattern>/org.rhq.enterprise.gui.coregui.CoreGUI/FileUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI BundleFileUploadServlet</servlet-name>
        <url-pattern>/org.rhq.enterprise.gui.coregui.CoreGUI/BundleFileUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI BundleDistributionFileUploadServlet</servlet-name>
        <url-pattern>/org.rhq.enterprise.gui.coregui.CoreGUI/BundleDistributionFileUploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI ResourceBossGWTService</servlet-name>
        <url-pattern>/org.rhq.enterprise.gui.coregui.CoreGUI/ResourceBossGWTService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI AuthorizationGWTService</servlet-name>
        <url-pattern>/org.rhq.enterprise.gui.coregui.CoreGUI/AuthorizationGWTService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI AvailabilityGWTService</servlet-name>
        <url-pattern>/org.rhq.enterprise.gui.coregui.CoreGUI/AvailabilityGWTService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI TagGWTService</servlet-name>
        <url-pattern>/org.rhq.enterprise.gui.coregui.CoreGUI/TagGWTService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI RemoteInstallGWTService</servlet-name>
        <url-pattern>/org.rhq.enterprise.gui.coregui.CoreGUI/RemoteInstallGWTService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI SearchGWTService</servlet-name>
        <url-pattern>/org.rhq.enterprise.gui.coregui.CoreGUI/SearchGWTService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI RepoGWTService</servlet-name>
        <url-pattern>/org.rhq.enterprise.gui.coregui.CoreGUI/RepoGWTService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI ContentGWTService</servlet-name>
        <url-pattern>/org.rhq.enterprise.gui.coregui.CoreGUI/ContentGWTService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI SearchGWTService</servlet-name>
        <url-pattern>/org.rhq.enterprise.gui.coregui.CoreGUI/SearchGWTService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI DashboardGWTService</servlet-name>
        <url-pattern>/org.rhq.enterprise.gui.coregui.CoreGUI/DashboardGWTService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI EventGWTService</servlet-name>
        <url-pattern>/org.rhq.enterprise.gui.coregui.CoreGUI/EventGWTService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org.rhq.enterprise.gui.coregui.CoreGUI ClusterGWTService</servlet-name>
        <url-pattern>/org.rhq.enterprise.gui.coregui.CoreGUI/ClusterGWTService</url-pattern>
    </servlet-mapping>


    <welcome-file-list>
        <welcome-file>CoreGUI.html</welcome-file>
    </welcome-file-list>

</web-app>
