.failurePanel {
   border-top-width: 0;
   border-bottom-width: 0;
   padding: 0;
   margin: 0;
   position: "center";
   width: 100%;
}

.commonColumn {
}


div.tab-active {
   border-width: 1px 1px 0px 1px;
   border-style: solid solid none solid;
   border-color: #333333;
   color: #000000;
   background-image: url('/images/tab-gradient-selected.png');
   background-repeat: repeat-x;
   cursor: default;
}

div.tab-inactive {
   border-width: 1px 1px 1px 1px;
   border-style: solid solid solid solid;
   border-color: #CCCCCC #CCCCCC #333333 #CCCCCC;
   color: #888888;
   background-image: url('/images/tab-gradient-notselected.png');
   background-repeat: repeat-x;
   cursor: default;
}

div.tab-hover {
   border-width: 1px 1px 1px 1px;
   border-style: solid solid solid solid;
   border-color: #AAAAAA #AAAAAA #333333 #AAAAAA;
   color: #888888;
   background-image: url('/images/tab-gradient-selected.png');
   background-repeat: repeat-x;
   cursor: pointer;
}

div.tab-common {
   padding: 1px 10px 0px 10px;
   font-family: arial;
   font-weight: bold;
   font-size: 11pt;
   text-align: center;
   font-variant: small-caps;
   white-space: nowrap;
}

div.tab-spacer {
   border-width: 0px 0px 1px 0px;
   border-style: none none solid none;
   border-color: #333333;
   color: #FFFFFF;
   background-image: url('/images/tab-sep.png');
   background-repeat: repeat-x;
   cursor: default;
   background-color: #FFFFFF;
   padding: 1px 0px 0px 0px;
   font-family: arial;
   font-weight: bold;
   font-size: 11pt;
   font-variant: small-caps;
}

div.subtab-active {
   color: #333333;
   cursor: default;
}

div.subtab-inactive {
   color: #A9A9A9;
   cursor: default;
}

div.subtab-hover {
   color: #333333;
   cursor: pointer;
}

div.subtab-common {
   padding: 3px 1px 3px 1px;
   background-color: #D9D9D9;
   border-width: 0px 0px 0px 0px;
   border-style: line;
   width: 100px;
   font-family: arial;
   font-weight: bold;
   font-size: 8pt;
   text-align: center;
   font-variant: small-caps;
}

div.subtab-spacer {
   width: 100%;
   color: #D9D9D9;
   padding-left: 0px;
   padding-right: 0px;
}
