#macro( displayResourceTypeName $resourceType )
${resourceType.plugin} - #if ( ${resourceType.name.startsWith("${resourceType.plugin}")} ) ${resourceType.name.substring(${resourceType.plugin.length()})}#else ${resourceType.name}#end#if ( !${resourceType.name.endsWith(" ${resourceType.category}")} ) ${resourceType.category}#end#end
