#macro( displayConfig $config )
#if ( ${config} && !${config.propertyDefinitions.empty} )
|| Name || Description || Required || Internal Name ||
#foreach( ${propertyDefinition} in ${config.propertyDefinitions} )
| ${propertyDefinition.displayName} | $!{propertyDefinition.description} | #if ( ${propertyDefinition.required} ) yes #else no #end | ${propertyDefinition.name} |
#end
{note}
You must use the internal name to reference properties in Dynamic Group Definition expressions.
{note}
#else
_none_
#end
#end
