<?xml version="1.0"?>
<!DOCTYPE section PUBLIC "-//OASIS//DTD DocBook XML V4.5//EN" "http://www.oasis-open.org/docbook/xml/4.5/docbookx.dtd" [
]>

<section id="${plugin.displayName} Plugin">
    <title>${plugin.displayName} Plugin</title>

    <table>
        <title>Basic Details</title>
        <tgroup cols="2" align="left" colsep="1" rowsep="1">
            <tbody>
                <row>
                    <entry>Internal Name:</entry>
                    <entry>${plugin.name}</entry>
                </row>
                <row>
                    <entry>Description:</entry>
                    <entry>$!{plugin.description}</entry>
                </row>
                <row>
                    <entry>Version:</entry>
                    <entry>${rhqVersion}</entry>
                </row>
            </tbody>
        </tgroup>
    </table>

#if ( ${plugin.help} )
    <bridgehead>Overview</bridgehead>

    <para>${plugin.help}</para>
#end

#if ( !${resourceTypes.empty} )
    <bridgehead>Resource Types</bridgehead>
    <para>{children:all=true|style=h3}</para>
#else
    <para>This plugin does not define any Resource types. It it probably an "abstract plugin", that is, one that
          provides Resource components and/or discovery components that can be used by other plugins.</para>
#end
