h1. #displayResourceTypeName( ${resourceType} )


{toc:minlevel=2|maxlevel=2}

h2. Overview

| *Description:* | $!{resourceType.description} |
| *Singleton:* | #if ( ${resourceType.singleton} ) yes #else no #end |
| *Plugin:* | ${resourceType.plugin} |

#if ( ${resourceType.helpText} )
{info:title=Required Managed Resource Configuration}
${resourceType.helpText}
{info}
#end


h2. Parent Resource Types

#if ( !${resourceType.parentResourceTypes.isEmpty()} )
#foreach ( ${parentResourceType} in ${resourceType.parentResourceTypes} )
* [#displayResourceTypeName( ${parentResourceType} )]
#end
#elseif ( ${resourceType.category.name} != "PLATFORM" )
[Managed Platforms]
#else
_none_
#end


h2. Child Resource Types

#if ( !${resourceType.childResourceTypes.isEmpty()} )
#foreach( ${childResourceType} in ${resourceType.childResourceTypes} )
* [#displayResourceTypeName( ${childResourceType} )]
#end
#elseif ( ${resourceType.category.name} == "PLATFORM" )
[Managed Servers]
[Managed Platform Services]
#else
_none_
#end


#if ( ${resourceType.category.name} == "SERVER" )
h2. Autodiscovery Process Scans

#if ( ${resourceType.processScans.isEmpty()} )
_none_
#else
|| Name || Query ||
#foreach( ${processScan} in ${resourceType.processScans} )
| ${processScan.name} | ${processScan.query} |
#end
#end

#end


h2. Connection Properties

#displayConfig( ${resourceType.pluginConfigurationDefinition} )


h2. Metrics

#if ( ${resourceType.metricDefinitions.isEmpty()} )
_none_
#else
|| Name || Type || Description || Internal Name ||
#foreach( ${metricDefinition} in ${resourceType.metricDefinitions} )
| ${metricDefinition.displayName} | ${metricDefinition.dataType.toString().toLowerCase()} | $!{metricDefinition.description} | ${metricDefinition.name} |
#end
#end

{note}
The Internal Name is what must be used to reference Traits in Dynamic Group Definition expressions.
{note}


h2. Configuration Properties

#displayConfig( ${resourceType.resourceConfigurationDefinition} )


h2. Operations

#if ( ${resourceType.operationDefinitions.isEmpty()} )
_none_
#else
|| Name || Description ||
#foreach( ${operationDefinition} in ${resourceType.operationDefinitions} )
| ${operationDefinition.displayName} | $!{operationDefinition.description} |
#end
#end


h2. Package Types

#if ( ${resourceType.packageTypes.isEmpty()} )
_none_
#else
|| Name || Category || Description ||
#foreach( ${packageType} in ${resourceType.packageTypes} )
| ${packageType.displayName} | ${packageType.category} | $!{artifactType.description} |
#end
#end
